$mobile: 767px;  // mobile 767px and less 
$tablet: 991px;  // mobile 767px and less 
$desktop: 1199px; // tablet 1025px {desctop - 1} and less 
$lg-desktop: 1299px; // tablet 1025px {desctop - 1} and less 
$retina: 1.5;    // standart retina > 1.5x
$retina-hd: 2.5; // hd retina > 2.5x

// breakpoints mixin
@mixin breakpoint($rule, $orientation:""){
	@if ($rule == $retina or $rule == $retina-hd){
		@media only screen and ( min-resolution : #{$retina*96} ), ( -webkit-min-device-pixel-ratio : #{$retina} ){
			@content;
		}
	}
	@if ($orientation == "landscape" ){
		@media only screen and (max-width: #{$rule}) and (orientation: #{$orientation}){
			@content;
		}
	}
	@else{
		@media only screen and (max-width: #{$rule}){
			@content;
		}
	}
}


// Mixin
@mixin gradient-vertical-three($start-color: #fff, $mid-color: #fff, $end-color: #fff, $start-percent: 0%, $mid-percent: 50%, $end-percent: 100%) {
	background-image: -webkit-linear-gradient(top, $start-color $start-percent, $mid-color $mid-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
	background-image: -o-linear-gradient(top, $start-color $start-percent, $mid-color $mid-percent, $end-color $end-percent);  // Opera 12
	background-image: linear-gradient(to bottom, $start-color $start-percent, $mid-color $mid-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin transition($time: 0.2s){
	transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    -ms-transition: $time ease-in-out;
    -webkit-transition: $time ease-in-out;
}
@mixin centered{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
@mixin cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"") {
  background-image: url($img-uri);
  background-repeat: no-repeat; 
  background-position: unquote($background-top) unquote($background-left);
  background-attachment: unquote($background-attachment);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}
@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: scale(1);
        box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 1);
    }
    50% {
        box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 0.8);
    }
    100% {
        -webkit-transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 0);
    }
}

@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: scale(1);
        box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 1);
    }
    50% {
        box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 0.8);
    }
    100% {
        -moz-transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 0);
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 1);
    }
    50% {
        box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 0.8);
    }
    100% {
        -webkit-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -ms-transform: scale(1.6);
        -o-transform: scale(1.6);
        transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 0);
    }
}


.planetx {
	/* ============= typography ============ */
	h1 {
	  @include breakpoint($tablet){}

	  @include breakpoint($mobile){
	    font-size:35px;
	    line-height: 40px;
	  }
	}

	/*============= HEADER (_header.scss) ==============*/
	#header-container{
		height: auto !important;
	}
    #header {
    	.promo-banner{
    		display: none;
    		img{
    			width: 100%;
    		}
    	}
        .top-bar {
        	display: block;
            height: auto;
            background-color: #00afe0;
            overflow: visible;
            position: relative;
    		z-index: 99999;

            .preheader-promo-banner{
            	margin-bottom: 0px;
				cursor: pointer;
				display: inline-block;
				@include breakpoint($mobile){
					display: block;
				}

            	.preheader-copy{
            		text-align: left;
            		@include breakpoint($mobile){
						text-align: center;
            		}

            		.glyphicon{
            			font-size: 11px;
            		}
            	}
            }
        }
        .header-holder{
        	position: absolute;
        	z-index: 9999;
        	#nav{
        		border: none;
        		&.trans-header{
        			background: rgba(0,0,0,0.5) !important;
        		}
        		#mobile-nav-wrapper{
        			margin-top: 10px;
        			.mobile-nav{
        				li{
        					color: #fff;
        					a{
								color: #fff;
        					}        					
        				}
        				.tgoma-menu{
        					background-image: url("../images/tgoma_logo_white.png");
        				}
        			}
        			.tri-sub-menu{
        				margin-top: 0px;
        				a{
        					color: #fff;
        					margin: 0 17px;
        					.glyphicon{
        						margin-right: 5px;
        					}
        				}
        			}
        			.mobile-nav-menu{
						.dropdown{
							.language{
								&:before{
									right: 0;
								}								
							}
							.dropdown-menu{
								padding: 0px;
								background: #fff;
								ul{
									margin: 0px;
									li{
										display: block;
										a{
											text-transform: uppercase;
											font-size: 12px;
											line-height: 16px;
											color: #919191;
											margin: 0px;
											span{
												display: inline-block;											
											}
											&:hover{
												&:after{
													display: none;
												}
											}									
										}
									}
								}
							}
						}
        			}

        		}
	        	.navbar-header{
	        		top: 0;
    				padding-top: 17px;

	        		.logo{
	        			padding: 0px;
	        			margin:0px;
	        		}
	        		@include breakpoint($mobile){
		        		#nav-icon4{
		        			right: 0px;
		        		}
	        		}
	        	}
	        	&.navbar-default{
	        		background: none;
					@include gradient-vertical-three(rgba(0,0,0,1), rgba(0,0,0,0.65), rgba(0,0,0,0), $start-percent: 7%, $mid-percent: 28%, $end-percent: 88%)
	        	}
	        	#main-nav{
	        		>.nav{
	        			margin: 0px;
	        			padding: 0px;
	        			>li{
	        				padding-left: 0px;
	        				&.open{
	        					background: rgba(255,255,255,0.5);
	        					@include gradient-vertical-three(rgba(0,0,0,1), rgba(0,0,0,0.65), rgba(0,0,0,0), $start-percent: 7%, $mid-percent: 28%, $end-percent: 88%)
	        				}
	        				>a{
	        					font-size: 16px;
	        					color: #fff;
	        					padding: 17px 22px;
	        					display: inline-block;
	        					@include breakpoint($tablet){
	        						padding-left: 16px;
	        						padding-right: 16px;
	        						font-size: 14px;
	        					}
	        					&:after{
	        						display: none;
	        					}
	        					&.tgoma-menu{
									top: 8px;
									background-image: url("../images/tgoma_logo_white.png");
	        					}
	        					&.is-drowdown{
	        						background: none;
									padding: 0px;
									display: inline;
									margin-left: -9px;
	        					}
	        					span{
	        						font-size: 9px;
	        					}
	        				}
	        			}
	        		}
	        		.nav{
	        			li{
	        				margin-bottom: 0px;
	        				a{
	        					&:hover{
	        						text-decoration: none;
	        					}
	        				}
	        			}
	        		}
	        	}
	        	.dropdown-menu{
	        		border: none;
	        		box-shadow: none;
	        		background: rgba(255,255,255,0.5);
	        		padding: 35px 0px;
				    height: auto;
				    min-height: initial;

	        		ul{
	        			list-style: none;
	        			padding-left: 0px; 
	        			li{
	        				display: inline-block;
	        				margin: 0px 58px;

	        				a{
								font-size: 30px;
								color: #fff;
								text-transform: uppercase;
								&:hover{
									color: #00afe0;
								}
								span{
									font-size: 14px;
									font-weight: 500;
									display: block;
								}
	        				}
	        			}
	        		}
	        		.tab-holder{
	        			text-align: center;
	        		}
	        		.container-fluid{
	        			min-height: initial;
	        		}
	        	}
        	}
        	&.header-shadow{
        		#nav{
					margin-top: 0px;
        		}
        	}
        	&.stick{
				position: fixed;
				top: 0;
				@include breakpoint($mobile){
					position: absolute;
					top: initial;
				}
        	}

        }
        .add-nav{
        	li{
        		margin-bottom: 0px;
        		margin-left: 20px;
        	}
        	.chat, .sign-in, .tel-link, .cart{
        		&:before{
        			display: none;
        		}
        		span{
        			color: #fff;
        		}
        	}
        	.cart{
				span{
					font-size: 13px;
				}
        	}
        	.chat{
				span{
					font-size: 15px;
				}
        	}
        	.lang-selector{
        		.dropdown-menu{
					top: 21px;
        		}
        	}
        }
    }
    /*============= HEADER END ==============*/

    /* ============ HOME MAIN SLIDER ========== */
    .home-hero-banner{
    	position: relative;
    	height: calc(100vh - 30px);
		@include cover-background('../images/home/hero-banner.jpg');
		@include breakpoint($mobile){
			height: 100vh;
		}
    	.banner-wrap{
			@include centered;
			@include breakpoint($tablet){
				width: 72%;
			}
			@include breakpoint($mobile){
				width: 95%;
			}
			.header{
				margin-bottom: 54px;
				@include breakpoint($mobile){
					margin-bottom: 20px;
				}
				.hero-header{
					font-weight: 200;
					line-height: 70px;
					@include breakpoint($mobile){
						line-height: 46px;
					}
				}
			}
		}
    }
    #homepage-hero-carousel{
    	.grab-cursor{
			.slide-item{
	    		height: calc(100vh - 30px);
	    		@include breakpoint($mobile){
					height: 100vh;
	    		}
	    	}
    	}
    	.rsNav.rsBullets{
    		display: none;
    	}
    	.carousel-block{
    		.slide-wrap{
    			@include centered;
    			@include breakpoint($mobile){
    				width: 95%;
    			}
    		}
    		.header{
			    padding: 0px;
    		}
    	}
    	.rsArrow{
    		@include vertical-align(absolute);
    	}
    }
    /* ============ END HOME MAIN SLIDER ========== */
    #static-panels{
    	@include breakpoint($mobile){
	    	section.intro-togma{
	    		height: 100vh;
	    	}
    	}
    }
    .intro-togma{
    	padding-top: 60px;
    	position: relative;
    	overflow: hidden;
    	@include breakpoint($tablet){
			height: 100vh;
    	}
    	@include breakpoint($mobile){
			padding-top: 0px;
    	}
    	h1{
    		color: #e30040;
    	}
    	img.tgoma{
    	    max-width: 172px;
    	    @include breakpoint($mobile){
				max-width: 108px;
    	    }
    	}
    	p{
    		font-size: 20px;
    		color: #333333;
    		line-height: 27px;
    		margin: 28px 0;
    		strong{
    			display: block;
    			color: #00afe0;
    			font-weight: 600;
    		}
    	}
    	.intro-togma-bg{
    		@include breakpoint($tablet){
			background: url(../images/_RGB2950.jpg) no-repeat top center; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			height: 100%;
			}
			.jump-calories-wrap{
				background: rgba(0,0,0,0.3);
				padding: 28px 0 35px 0;
				position: absolute;
			    width: 100%;
			    bottom: 0;
				.title{
					font-size: 30px;
					color: #fff;
					line-height: 27px;
    				margin-bottom: 12px;
    				@include breakpoint($mobile){
						font-size: 22px;
						margin-bottom: 0px;
					}
				}
				.count{
					color: #fff;
					font-size: 30px;
					@include breakpoint($mobile){
						font-size: 18px;
					}
					span{
						padding: 3px 10px;
					    border-radius: 3px;
					    background-color: #00afe0;
					    display: inline-block;
					    @include breakpoint($mobile){
							padding: 4px 6px 2px 6px;
    						line-height: 20px;
					    }
					}
				}
			}
    	}
    	.home-tgoma{
    		@include breakpoint($tablet){
				display: none;
    		}
    		@include breakpoint($mobile){
				display: block;
    		}
    		img{
    			width: 100%;
    		}
    	}
    }
    .how-we-make{
    	background: #f7f1e9;
    	padding-bottom: 68px;
    	@include breakpoint($mobile){
			padding-bottom: 46px;
		}
    	.trampoline-hotspot{
    		.hotspot-wrap{
				display: inline-block;
				position: relative;
				img{
					@include breakpoint($mobile){
						width: 100%;
					}
				}
    		}
    		.hotspot-point{
    			position: absolute;
    			overflow: hidden;
    			height: 56px;
			    width: 56px;
			    display: flex;
			    align-items: center;

    			&:hover{
    				/*overflow: visible;
    				.hotspot-tooltip{
				    	opacity: 1;
				    	z-index: 999;
				    	@include transition(0.4s);
				    }*/
    			} 
    			.plus-icon{
					font-family: serif;
				    background: #00afe0;
				    color: #fff;
				    padding: 5px 8px 6px 9px;
				    border-radius: 50%;
				    font-size: 30px;
				    line-height: 24px;
				    cursor: pointer;
				    position: relative;
    				z-index: 99;
    				left: 11px;
    				@include breakpoint($mobile){
						font-size: 24px;
    					line-height: 20px;
    				}
    				&:after{
    					content: '';
					    position: absolute;
					    z-index: 1;
					    width: 100%;
					    height: 100%;
					    top: 0;
					    left: 0;
					    border-radius: inherit;
					    background-color: transparent;
					    -webkit-animation: cd-pulse 2s infinite;
					    -moz-animation: cd-pulse 2s infinite;
					    animation: cd-pulse 2s infinite;
    				}			    
    			}
    			.hs-tooltip-w{
    				width: 268px;
				    position: absolute;
				    height: 100%;
				    top: 0;
				    @include breakpoint($mobile){
						display: none;
				    }
    			}
    			.hotspot-tooltip{
    				width: 268px;
    				margin-left: 74px;
	    			border: 2px solid #00afe0;
	    			position: absolute;
				    left: 0;
				    bottom: -37px;
				    opacity: 0;
				    @include transition(0.4s);
				    &:before{
				    	content: '';
				    	display: block;
						position: absolute;
					    bottom: 50px;
					    left: -41px;
					    width: 41px;
					    height: 2px;
					    background: #00afe0;
					    margin: 13px 0px;
				    }
					.preview-box{
						.image-holder{
							position: relative;
							img{
								width: 100%;
								height: auto;
								vertical-align: top;
							}
							.icon-play{
								width: 54px;
								height: 40px;
								position: absolute;
								bottom: 12px;
								right: 12px;
								margin: 0;
							}
						}
					}
					.details{
	    				background: #e7e7e7;
	    				p{
	    					margin: 0px;
	    					font-size: 17px;
	    					font-weight: 300;
	    					line-height: 20px;
	    					padding: 20px 16px;
	    					strong{
	    						text-transform: uppercase;
	    						font-weight: 600;
	    					}
	    				}
	    			}
    			}
    		}
    		
    		#hotspots-item{
    			display: none;
    			@include breakpoint($mobile){
    				display: block;
    				margin-top: 20px;
	    			.hotspot-tooltip{
	    				.preview-box{
	    					width: 30%;
	    					float: left;
	    					border: 2px solid #00afe0;
    						box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
	    					.image-holder{
	    						position: relative;
								img.lazy{
									width: 100%;
									height: auto;
								}
								.icon-play{
									width: 32px;
									position: absolute;
									bottom: 8px;
									right: 8px;
									margin: 0;
								}
	    					}
	    				}
	    				.details{
							width: 65%;
							float: right;
							text-align: left;
							p{
								font-size: 16px;
								line-height: 20px;
								margin-bottom: 0;
							}
	    				}
	    			}
	    			&:after{
	    				content: '';
	    				clear: both;
	    				display: block;
	    			}
    			}
    		}
    	}
    }
    .quality{
    	padding: 64px 0 80px 0;
    	@include breakpoint($mobile){
			padding-bottom: 48px;
			padding-top: 26px;
    	}
    	.header{
    		margin-bottom: 66px;
    		@include breakpoint($mobile){
				margin-bottom: 16px;
			}
    	}
		.double-life{
			margin-top: 24px;
			img{
				float: left;
				max-width: 66px;
				margin-right: 26px;
			}
			.double-life-txt{
				float: left;
				width: calc(100% - 66px - 26px);
				h6{
					font-size: 20px;
					text-transform: uppercase;
					color: #666666;
					border-bottom: 1px solid #666666;
					font-weight: 700;
					display: inline-block;
					margin: 0px 0 5px 0; 
				}
				p{
					font-size: 14px;
					text-transform: uppercase;
					font-weight: 500;
					margin: 0;
    				line-height: 17px;
				}
			}
		}
		@media only screen and (min-width: 768px){
			.center-flex{
				display: flex;
				align-items: center;
			}
		}
		@include breakpoint($mobile){
			.shodow-border{
				margin-top: 20px;
			}
		}
    }

    .awarded{
    	padding: 44px 0;
    	background: #00afe0;
    	@include breakpoint($mobile){
			padding: 9px 0;
    	}
    	.header{
    		h1{
    			margin-bottom: 36px;
    		}
    	}
    	.award-year{
    		ul{
    			list-style: none;
    			padding: 0px;
    			li{
    				display: inline-block;
    				width: calc(100% / 8 - 52px);
    				margin: 0 20px;
    				@include breakpoint($tablet){
						width: calc(100% / 4 - 52px);
    				}
    				@include breakpoint($mobile){
						width: calc(100% / 4 - 23px);
    					margin: 0 10px;
    				}
    				
    				a{
    					display: block;
    					&:hover{
    						text-decoration: none;
    					}
    				}
    				img{
						max-width: 100%;
						margin-bottom: 10px;
						@include breakpoint($mobile){
							margin-bottom: 0px;
						}
    				}
    				p{
    					color: #fff;
    					margin: 0px;
    				}
    			}
    		}
    	}
    }

	.reviews{
		padding: 60px 0;
		@include breakpoint($mobile){
			padding: 30px 0;
		}
		.header{
			margin-bottom: 36px;
			@include breakpoint($mobile){
				margin-bottom: 10px;
			}
		}
	    .vid-testimonial{
			.preview-box{
				border: 3px solid #fff;
			    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
			    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
			    position: relative;
			    margin: 6px;
			    .image-holder{
			    	position: relative;
			    	img{
			    		width: 100%;
					    height: auto;
					    vertical-align: top;
			    	}
			    	.icon-play{
			    		width: 54px;
					    height: 40px;
					    position: absolute;
					    bottom: 12px;
					    right: 12px;
					    margin: 0;
					    @include breakpoint($mobile){
							width: 32px;
    						height: 24px;   
						}
			    	}
			    }
			}
			.vid-testimonial-bx{
				@include breakpoint($mobile){
					text-align: center;  
				}
				p{
					margin-bottom: 0px;
				}
				p.auth,.auth-post{
					text-transform: uppercase;
				}
				p.auth{
					margin-top: 22px;
				}
			}
			.rsBullets{
				position: absolute;
    			bottom: -30px;
    			text-align: center;
    			width: 100%;
				.rsNavItem{
					display: inline-block;
					cursor: pointer;
					margin: 0 4px;
					span{
						height: 12px;
					    width: 12px;
					    background: #d7d7d7;
					    display: inline-block;
					    border-radius: 50%;
					}
					&.rsNavSelected, &:hover{
						span{
							background: #00afe0;
						}
					}
				}
			}
	    }
	    .approved-rvw{
	    	border-left: 1px solid #e1e1e1;
	    	@include breakpoint($tablet){
				margin-top: 40px;
	    	}
	    	@include breakpoint($mobile){
				margin-top: 40px;
			}
	    }
    }

	.model-selector {
	    background: #fbfafa;
	}

    .shodow-border{
    	img{
    		max-width: 100%;
			box-shadow: 0px 0px 13px rgba(0,0,0,0.3);
			border: 2px solid #fff;
    	}
    }
}
