<!DOCTYPE>
<html>
<head></head>

	<link rel="stylesheet" type="text/css" href="/sites/all/themes/springfree/js/vendors/royal-slider/royalslider/royalslider.css">
	<link rel="stylesheet" href="/sites/all/themes/springfree/css/vendors/bootstrap.min.css">
	<link rel="stylesheet" href="/sites/all/themes/springfree/css/minified/main.min.css">

<style type="text/css">
.royalSlider {
	width:100%;
}

#example-gallery{
		width:100%;
	  height: 100%;
}


html, body {
      padding:0;
      margin:0;
      width: 100%;
      height: 100%;
      overflow:hidden; // to avoid scrollbars
}

.royal-gallery-title-holder{
	  background: #f0f0f0;
  overflow: hidden;
  border: none;
  padding: 32px 29px 21px 39px;
  position: relative;
width:100%;
}

.modal-title{
	font-weight:100;
}

.close {
	display:inline-block;
	opacity: 1;
}


</style>

<body>

<div class="royal-gallery-title-holder header">

	<h4 class="modal-title">Pop up Title
		<a href="#" class="close">
			<span aria-hidden="true">
				<span data-picture data-alt="image description">
					<span data-src="/sites/all/themes/springfree/images/ico-close.png" ></span>
					<span data-src="/sites/all/themes/springfree/images/ico-close-mobile.png" data-media="(max-width:767px)" ></span>
					<span data-src="/sites/all/themes/springfree/images/ico-close-mobile@2x.png" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" data-width="26" data-height="26"></span>
					<noscript><img src="/sites/all/themes/springfree/images/ico-close.png" width="52" height="52" alt="image description" ></noscript>
				</span>
			</span>
		</a>


	</h4>

</div>




<div class="royal-gallery-wrapper">
	<div id="example-gallery" class="royalSlider ">
		<a class="rsImg" 
			 data-rsbigimg="/sites/all/themes/springfree/images/gallery/image_1.jpg" 
			 href="/sites/all/themes/springfree/images/gallery/image_1.jpg">
			<img class="rsTmb" width="96" src="/sites/all/themes/springfree/images/gallery/image_1.jpg">
		</a>
		<a class="rsImg" 
			 data-rsbigimg="/sites/all/themes/springfree/images/gallery/image_2.jpg" 
			 href="/sites/all/themes/springfree/images/gallery/image_2.jpg">
			<img class="rsTmb" width="96" src="/sites/all/themes/springfree/images/gallery/image_2.jpg">
		</a>
		<a class="rsImg" 
			 data-rsbigimg="/sites/all/themes/springfree/images/gallery/image_3.jpg" 
			 href="/sites/all/themes/springfree/images/gallery/image_3.jpg">
			<img class="rsTmb"  width="96" src="/sites/all/themes/springfree/images/gallery/image_3.jpg">
		</a>
		<a class="rsImg" 
			 data-rsbigimg="/sites/all/themes/springfree/images/gallery/image_1.jpg" 
			 href="/sites/all/themes/springfree/images/gallery/image_1.jpg">
			<img class="rsTmb" width="96" src="/sites/all/themes/springfree/images/gallery/image_1.jpg">
		</a>
		<a class="rsImg" 
			 data-rsbigimg="/sites/all/themes/springfree/images/gallery/image_2.jpg" 
			 href="/sites/all/themes/springfree/images/gallery/image_2.jpg">
			<img class="rsTmb" width="96" src="/sites/all/themes/springfree/images/gallery/image_2.jpg">
		</a>
		<a class="rsImg" 
			 data-rsbigimg="/sites/all/themes/springfree/images/gallery/image_3.jpg" 
			 href="/sites/all/themes/springfree/images/gallery/image_3.jpg">
			<img class="rsTmb"  width="96" src="/sites/all/themes/springfree/images/gallery/image_3.jpg">
		</a>
		<a class="rsImg" 
			 data-rsbigimg="/sites/all/themes/springfree/images/gallery/image_1.jpg" 
			 href="/sites/all/themes/springfree/images/gallery/image_1.jpg">
			<img class="rsTmb" width="96" src="/sites/all/themes/springfree/images/gallery/image_1.jpg">
		</a>
		<a class="rsImg" 
			 data-rsbigimg="/sites/all/themes/springfree/images/gallery/image_2.jpg" 
			 href="/sites/all/themes/springfree/images/gallery/image_2.jpg">
			<img class="rsTmb" width="96" src="/sites/all/themes/springfree/images/gallery/image_2.jpg">
		</a>
		<a class="rsImg" 
			 data-rsbigimg="/sites/all/themes/springfree/images/gallery/image_3.jpg" 
			 href="/sites/all/themes/springfree/images/gallery/image_3.jpg">
			<img class="rsTmb"  width="96" src="/sites/all/themes/springfree/images/gallery/image_3.jpg">
		</a>
		<a class="rsImg" 
			 data-rsbigimg="/sites/all/themes/springfree/images/gallery/image_1.jpg" 
			 href="/sites/all/themes/springfree/images/gallery/image_1.jpg">
			<img class="rsTmb" width="96" src="/sites/all/themes/springfree/images/gallery/image_1.jpg">
		</a>
		<a class="rsImg" 
			 data-rsbigimg="/sites/all/themes/springfree/images/gallery/image_2.jpg" 
			 href="/sites/all/themes/springfree/images/gallery/image_2.jpg">
			<img class="rsTmb" width="96" src="/sites/all/themes/springfree/images/gallery/image_2.jpg">
		</a>
		<a class="rsImg" 
			 data-rsbigimg="/sites/all/themes/springfree/images/gallery/image_3.jpg" 
			 href="/sites/all/themes/springfree/images/gallery/image_3.jpg">
			<img class="rsTmb"  width="96" src="/sites/all/themes/springfree/images/gallery/image_3.jpg">
		</a>

	</div>
</div>





	<!-- vendor -->	
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="/sites/all/themes/springfree/js/vendors/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="/sites/all/themes/springfree/js/vendors/bootstrap.min.js"></script>
	<script type="text/javascript" src="/sites/all/themes/springfree/js/vendors/royal-slider/royalslider/jquery.royalslider.min.js"></script>
	

	<!-- custom script -->	
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->	
	<script type="text/javascript" src="/sites/all/themes/springfree/components/popup-gallery/popup-gallery-rs.js"></script>
	<script type="text/javascript" src="/sites/all/themes/springfree/js/scripts/jquery.main.js"></script>


</body>
</html>