/* Scss Document */
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i";
.planetx {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  /*===========================  14-09-2016  ====================*/ }
  .planetx h1.content_title {
    font-size: 60px; }
  .planetx .border_box {
    border: 3px solid #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); }
  .planetx .spacer {
    padding: 60px 0; }
  .planetx #block1.intro-togma {
    /* ====================== Flip Counter ============= */
    /* =============================================================== */ }
    .planetx #block1.intro-togma h1 {
      color: #e30040; }
    .planetx #block1.intro-togma p {
      color: #333333;
      line-height: 27px;
      margin: 28px 0 0; }
      .planetx #block1.intro-togma p strong {
        display: block;
        color: #00afe0;
        font-weight: 400;
        text-transform: uppercase; }
    .planetx #block1.intro-togma img.tgoma {
      max-width: 172px; }
    .planetx #block1.intro-togma .jump-calories-wrap {
      background: #3892d8;
      padding: 28px 0 35px 0;
      width: 100%; }
      .planetx #block1.intro-togma .jump-calories-wrap .title {
        font-size: 30px;
        color: #fff;
        line-height: 27px;
        margin-bottom: 16px;
        font-weight: 300; }
      .planetx #block1.intro-togma .jump-calories-wrap .count {
        font-size: 30px;
        color: #fff;
        line-height: 27px;
        margin-bottom: 12px; }
        .planetx #block1.intro-togma .jump-calories-wrap .count span {
          padding: 10px 10px;
          border-radius: 3px;
          display: inline-block;
          margin: 0px 4px;
          position: relative;
          background: #00afef;
          background: -moz-linear-gradient(top, #00afef 0%, #13baf7 50%, #00afef 51%, #00afef 71%, #00afef 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, #00afef), color-stop(50%, #13baf7), color-stop(51%, #00afef), color-stop(71%, #00afef), color-stop(100%, #00afef));
          background: -webkit-linear-gradient(top, #00afef 0%, #13baf7 50%, #00afef 51%, #00afef 71%, #00afef 100%);
          background: -o-linear-gradient(top, #00afef 0%, #13baf7 50%, #00afef 51%, #00afef 71%, #00afef 100%);
          background: -ms-linear-gradient(top, #00afef 0%, #13baf7 50%, #00afef 51%, #00afef 71%, #00afef 100%);
          background: linear-gradient(to bottom, #00afef 0%, #13baf7 50%, #00afef 51%, #00afef 71%, #00afef 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00afef', endColorstr='#00afef', GradientType=0 ); }
          @media only screen and (max-width: 767px) {
            .planetx #block1.intro-togma .jump-calories-wrap .count span {
              padding: 4px 6px 2px 6px;
              line-height: 20px; } }
          .planetx #block1.intro-togma .jump-calories-wrap .count span.flip {
            z-index: 2;
            -webkit-animation: turn 0.5s 0s linear both;
            -moz-animation: turn 0.5s 0s linear both;
            animation: turn 0.5s 0s linear both; }
          .planetx #block1.intro-togma .jump-calories-wrap .count span:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #3892d8;
            position: absolute;
            top: 50%;
            left: 0px;
            z-index: 1; }
    .planetx #block1.intro-togma ul.flipcounter {
      list-style: none;
      margin: 0;
      padding: 0; }
      .planetx #block1.intro-togma ul.flipcounter li {
        display: inline-block;
        margin-left: 7px; }
        .planetx #block1.intro-togma ul.flipcounter li .numberwrap {
          position: relative;
          width: 40px;
          height: 60px; }
      .planetx #block1.intro-togma ul.flipcounter span {
        display: block; }
      .planetx #block1.intro-togma ul.flipcounter li.comma {
        color: #fff;
        margin-left: 7px; }
      .planetx #block1.intro-togma ul.flipcounter span, .planetx #block1.intro-togma ul.flipcounter li.comma {
        font-size: 30px;
        line-height: 57px;
        color: #fff; }
      .planetx #block1.intro-togma ul.flipcounter .flipper_top {
        position: absolute;
        width: 40px;
        height: 30px;
        background: #028ec1;
        border-radius: 1px 1px 0px 0px;
        border: 1px solid #046b90;
        border-top: 1px solid #137598;
        border-bottom: 0;
        top: 2px;
        text-align: center;
        overflow: hidden; }
        .planetx #block1.intro-togma ul.flipcounter .flipper_top .rings {
          top: 24px;
          /*background-position: -4px 53px;*/ }
      .planetx #block1.intro-togma ul.flipcounter .flipper_bottom {
        position: absolute;
        width: 40px;
        height: 28px;
        background: #00afef;
        border-radius: 0px 0px 1px 1px;
        border: 1px solid #087198;
        border-bottom: 1px solid #107aa0;
        border-top: 0;
        top: 31px;
        left: 0px;
        text-align: center;
        overflow: hidden; }
        .planetx #block1.intro-togma ul.flipcounter .flipper_bottom .rings {
          /*background-position: -4px -8px;*/ }
      .planetx #block1.intro-togma ul.flipcounter .flipper_top1 {
        top: 0px; }
      .planetx #block1.intro-togma ul.flipcounter .flipper_top2 {
        top: 2px;
        box-shadow: none; }
      .planetx #block1.intro-togma ul.flipcounter .flipper_bottom1 {
        top: 31px;
        /*box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.6);*/ }
      .planetx #block1.intro-togma ul.flipcounter .flipper_bottom2 {
        top: 34px;
        /*box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.2);*/ }
      .planetx #block1.intro-togma ul.flipcounter .flipper_bottom3 {
        top: 35px;
        /*box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.2);*/ }
      .planetx #block1.intro-togma ul.flipcounter .flipper_bottom4 {
        top: 36px;
        /*box-shadow: 0px 4px 25px 1px rgba(0, 0, 0, 0.4);*/ }
      .planetx #block1.intro-togma ul.flipcounter div.flipper_bottom span {
        margin-top: -28px; }
      .planetx #block1.intro-togma ul.flipcounter .rings {
        position: absolute;
        top: -4px;
        left: 0px;
        background: url(../images/rings.png) no-repeat;
        width: 100%;
        height: 100%;
        background-size: 38px;
        opacity: 0.7; }
    .planetx #block1.intro-togma .flipper_top_front {
      -webkit-transform-origin: 50% 100%; }
    .planetx #block1.intro-togma .flipper_bottom_front {
      -webkit-transform-origin: 50% 0%; }
  .planetx #block2.spacer.testimonials {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #f7f1e9; }
    .planetx #block2.spacer.testimonials h1 {
      margin-bottom: 22px;
      color: #6e1c8f; }
    .planetx #block2.spacer.testimonials .entry {
      margin-bottom: 60px; }
      .planetx #block2.spacer.testimonials .entry p {
        color: #333 !important; }
    .planetx #block2.spacer.testimonials .row > div {
      float: none;
      display: inline-block;
      vertical-align: top; }
    .planetx #block2.spacer.testimonials .preview-box {
      border: 3px solid #fff;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
      position: relative;
      margin: 6px; }
      .planetx #block2.spacer.testimonials .preview-box .image-holder {
        position: relative; }
        .planetx #block2.spacer.testimonials .preview-box .image-holder img {
          width: 100%;
          height: auto;
          vertical-align: top; }
        .planetx #block2.spacer.testimonials .preview-box .image-holder .icon-play {
          width: 66px;
          height: 48px;
          position: absolute;
          bottom: 12px;
          right: 12px;
          margin: 0;
          top: auto;
          left: auto; }
    .planetx #block2.spacer.testimonials .comment {
      font-weight: 300;
      line-height: 28px;
      font-style: italic;
      text-align: left;
      color: #333; }
    .planetx #block2.spacer.testimonials h4 {
      font-size: 20px;
      font-weight: 400;
      text-align: left;
      color: #6e1c8f; }
    .planetx #block2.spacer.testimonials #testi-carousel .owl-controls {
      position: static;
      width: auto;
      z-index: 99;
      margin-top: 0px;
      height: 0; }
    .planetx #block2.spacer.testimonials #testi-carousel .owl-buttons div {
      position: absolute;
      width: 31px;
      height: 86px;
      top: 50%;
      border-radius: 0;
      z-index: 99;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      background: url(../images/planetx/left-right-arr.png) no-repeat;
      margin: 0;
      font-size: 0; }
      .planetx #block2.spacer.testimonials #testi-carousel .owl-buttons div img {
        display: none; }
      .planetx #block2.spacer.testimonials #testi-carousel .owl-buttons div.owl-prev {
        background-position: 0px 0px;
        left: -20px; }
      .planetx #block2.spacer.testimonials #testi-carousel .owl-buttons div.owl-next {
        background-position: -31px 0px;
        right: -20px; }
    .planetx #block2.spacer.testimonials #testi-carousel .owl-pagination .owl-page {
      margin-top: 16px; }
      .planetx #block2.spacer.testimonials #testi-carousel .owl-pagination .owl-page span {
        background-color: #00afe0;
        margin: 0 5px; }
      .planetx #block2.spacer.testimonials #testi-carousel .owl-pagination .owl-page.active span {
        background-color: #fff; }
  .planetx #block3.spacer.games_apps {
    padding-top: 70px;
    padding-bottom: 50px; }
    .planetx #block3.spacer.games_apps h1 {
      color: #FAE029; }
    .planetx #block3.spacer.games_apps .appStore {
      padding-top: 65px; }
    .planetx #block3.spacer.games_apps #appTab .nav-tabs > li {
      margin: 0 30px; }
      .planetx #block3.spacer.games_apps #appTab .nav-tabs > li a {
        border-radius: 0;
        background-color: transparent;
        padding: 0; }
        .planetx #block3.spacer.games_apps #appTab .nav-tabs > li a h5 {
          font-size: 25px;
          font-weight: 700;
          color: #FAE029;
          border-bottom: 1px solid transparent;
          display: inline-block;
          line-height: 1;
          padding-bottom: 5px;
          text-transform: uppercase;
          margin: 0;
          transition: 0.4s ease-in-out;
          -webkit-transition: 0.4s ease-in-out;
          -moz-transition: 0.4s ease-in-out;
          -ms-transition: 0.4s ease-in-out; }
          .planetx #block3.spacer.games_apps #appTab .nav-tabs > li a h5:hover {
            color: #fff;
            border-bottom: 1px solid #fff; }
      .planetx #block3.spacer.games_apps #appTab .nav-tabs > li.active a {
        border-radius: 0;
        background-color: transparent; }
        .planetx #block3.spacer.games_apps #appTab .nav-tabs > li.active a h5 {
          color: #fff;
          border-bottom: 1px solid #fff; }
    .planetx #block3.spacer.games_apps #appTab .tab-content {
      background-color: transparent; }
      .planetx #block3.spacer.games_apps #appTab .tab-content > .tab-pane {
        color: #fff;
        background-color: transparent;
        padding: 50px 0 0; }
        .planetx #block3.spacer.games_apps #appTab .tab-content > .tab-pane .entry {
          width: 75%;
          margin: 0 auto; }
          .planetx #block3.spacer.games_apps #appTab .tab-content > .tab-pane .entry p {
            font-weight: 300;
            color: #fff; }
        .planetx #block3.spacer.games_apps #appTab .tab-content > .tab-pane ul {
          list-style: none;
          max-width: 720px;
          margin: 50px auto 0;
          padding: 0; }
          .planetx #block3.spacer.games_apps #appTab .tab-content > .tab-pane ul.game_apps li {
            display: inline-block;
            margin: 0 25px 25px; }
            .planetx #block3.spacer.games_apps #appTab .tab-content > .tab-pane ul.game_apps li img {
              cursor: pointer; }
    .planetx #block3.spacer.games_apps .appStore p {
      font-size: 18px; }
  .planetx #block4.spacer.benefits {
    background-color: #f3f3f3;
    padding: 70px 0; }
    .planetx #block4.spacer.benefits h1 {
      color: #e85933; }
    .planetx #block4.spacer.benefits .container {
      padding-bottom: 0; }
    .planetx #block4.spacer.benefits .textBox {
      text-align: left; }
      .planetx #block4.spacer.benefits .textBox img {
        margin-bottom: 18px; }
      .planetx #block4.spacer.benefits .textBox p {
        font-weight: 300;
        color: #333;
        line-height: 1.3; }
    .planetx #block4.spacer.benefits #moreText.spacer {
      padding-top: 65px;
      padding-bottom: 60px; }
  .planetx #block5.spacer.features {
    padding: 90px 0 100px; }
    .planetx #block5.spacer.features h1 {
      color: #2BA953; }
    .planetx #block5.spacer.features .entry {
      width: 72%;
      margin: 0 auto 0px; }
      .planetx #block5.spacer.features .entry p {
        font-weight: 300; }
    .planetx #block5.spacer.features .phone_previews {
      margin-top: 10px; }
  .planetx #block6.spacer.awards {
    padding: 80px 0; }
    .planetx #block6.spacer.awards h1 {
      color: #FAE029; }
    .planetx #block6.spacer.awards .award-box .awward-icon {
      display: block;
      margin: 0 auto; }
    .planetx #block6.spacer.awards .award-box p {
      color: #fff;
      font-weight: 300;
      text-align: center; }
      .planetx #block6.spacer.awards .award-box p strong {
        font-weight: 700; }
  .planetx #block7.spacer.in_media {
    padding: 80px 0 40px;
    background-color: #2ba951; }
    .planetx #block7.spacer.in_media h1 {
      color: #fae029;
      margin-bottom: 60px; }
    .planetx #block7.spacer.in_media #media-list {
      width: 80%;
      margin: 0 auto; }
      .planetx #block7.spacer.in_media #media-list ul {
        list-style: none;
        padding-left: 0; }
        .planetx #block7.spacer.in_media #media-list ul li {
          display: inline-block;
          margin: 0px 30px 40px;
          width: 170px; }
          .planetx #block7.spacer.in_media #media-list ul li img {
            max-width: 100%; }
  .planetx #block8.faq {
    padding: 50px 0; }
    .planetx #block8.faq h1.content_title {
      margin-bottom: 0;
      line-height: 1; }
      .planetx #block8.faq h1.content_title a {
        color: #fff; }
    .planetx #block8.faq .icon-plus {
      width: 45px;
      height: 45px;
      border: 2px solid #fff; }
  .planetx .cd-vertical-nav a::after {
    background: url(../images/planetx/cd-nav-icons.png) no-repeat transparent; }
  .planetx .tab_popup {
    background-color: #fff;
    max-width: 1170px;
    margin: 0 auto;
    padding: 35px 20px;
    border-radius: 10px; }
    .planetx .tab_popup .owl-controls {
      line-height: 0; }
      .planetx .tab_popup .owl-controls .owl-buttons div {
        position: absolute;
        background-color: transparent;
        top: 50%;
        transform: translateY(-50%);
        width: 18px; }
        .planetx .tab_popup .owl-controls .owl-buttons div.owl-next {
          right: -28px; }
        .planetx .tab_popup .owl-controls .owl-buttons div.owl-prev {
          left: -28px; }
    .planetx .tab_popup h3 {
      font-size: 32px;
      color: #FAE029;
      display: flex;
      display: flex;
      font-weight: 300;
      align-items: center; }
      .planetx .tab_popup h3 span {
        padding-left: 20px; }
    .planetx .tab_popup p {
      line-height: 24px; }
    .planetx .tab_popup p.addIcon {
      line-height: 32px; }
      .planetx .tab_popup p.addIcon .fa {
        font-size: 30px;
        margin-right: 15px;
        position: relative;
        top: 3px; }
    .planetx .tab_popup iframe {
      width: 100%;
      min-height: 350px; }
  .planetx .ilightbox-toolbar {
    top: 8px;
    right: 8px;
    height: 46px; }
    .planetx .ilightbox-toolbar .ilightbox-close {
      width: 43px;
      height: 43px;
      background: transparent url("../images/sf-close-icon.png") no-repeat -52px 0; }
      .planetx .ilightbox-toolbar .ilightbox-close:hover {
        background-color: transparent !important;
        background-position: 0 0 !important; }

#cboxContent {
  background: #fff;
  overflow: visible;
  border-radius: 10px; }

#cboxTopLeft, #cboxTopCenter, #cboxTopRight {
  display: none; }

#colorbox #cboxClose {
  right: 7px;
  background: url(../images/planetx/control.png) 0px 0px;
  top: 3px; }

#colorbox #cboxClose:hover {
  right: 7px;
  background: url(../images/planetx/control.png) 0px -25px;
  top: 3px; }

#cboxMiddleRight, #cboxMiddleLeft {
  display: none; }

#colorbox, #colorbox #cboxWrapper, #colorbox #cboxWrapper #cboxContent, #colorbox #cboxWrapper #cboxContent #cboxLoadedContent, #colorbox #cboxWrapper #cboxContent #cboxLoadedContent {
  max-width: 1170px;
  width: 100% !important; }

@media screen and (min-width: 768px) {
  #colorbox {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); } }
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .planetx {
    font-size: 16px; }
    .planetx h1.content_title {
      font-size: 44px; }
    .planetx #block1.intro-togma img.tgoma {
      max-width: 132px; }
    .planetx #block2.spacer.testimonials .entry {
      margin-bottom: 50px; }
    .planetx #block2.spacer.testimonials .row > div {
      float: left; }
    .planetx #block3.spacer.games_apps .appStore {
      padding-top: 45px; }
    .planetx #block3.spacer.games_apps #appTab .nav-tabs > li {
      margin: 0 12px; }
    .planetx #block4.spacer.benefits {
      padding: 55px 0; }
    .planetx #block5.spacer.features {
      padding: 70px 0 80px; }
    .planetx #block6.spacer.awards {
      padding: 60px 0; }
      .planetx #block6.spacer.awards .award-box {
        margin-top: 0px; }
    .planetx #block7.spacer.in_media {
      padding: 60px 0 30px; }
      .planetx #block7.spacer.in_media #media-list {
        width: 90%; }
        .planetx #block7.spacer.in_media #media-list ul li {
          width: 140px;
          margin: 0px 25x 30px; }
    .planetx #block8.faq {
      padding: 40px 0; }
      .planetx #block8.faq .icon-plus {
        width: 35px;
        height: 35px;
        background-position: -30px 1px;
        background-size: 60px;
        position: relative;
        top: 5px; }
    .planetx .cd-vertical-nav a {
      padding: 20px 0 0; }
      .planetx .cd-vertical-nav a .label {
        font-size: 100%; }

  #colorbox, #colorbox #cboxWrapper, #colorbox #cboxWrapper #cboxContent, #colorbox #cboxWrapper #cboxContent #cboxLoadedContent, #colorbox #cboxWrapper #cboxContent #cboxLoadedContent {
    max-width: 750px;
    width: 100% !important; }

  .ilightbox-holder.metro-white {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    width: 90%;
    padding-bottom: 12px; }

  .ilightbox-holder div.ilightbox-container {
    position: relative;
    width: 100% !important;
    max-height: 45vh;
    height: 100% !important; }

  .planetx .tab_popup iframe {
    width: 100%;
    min-height: 300px; } }
@media screen and (max-width: 767px) {
  .planetx {
    font-size: 16px; }
    .planetx h1.content_title {
      font-size: 36px; }
    .planetx #block1.intro-togma h1 {
      margin: 30px 0 0; }
    .planetx #block1.intro-togma .border_box {
      margin-top: 30px; }
    .planetx #block1.intro-togma img.tgoma {
      max-width: 110px; }
    .planetx #block1.intro-togma .jump-calories-wrap {
      padding: 0px 0 35px 0; }
      .planetx #block1.intro-togma .jump-calories-wrap .title {
        margin-top: 30px; }
    .planetx #block2.spacer.testimonials {
      padding: 50px 0 80px; }
      .planetx #block2.spacer.testimonials .entry {
        margin-bottom: 40px; }
      .planetx #block2.spacer.testimonials .row > div {
        float: left; }
      .planetx #block2.spacer.testimonials .comment {
        text-align: center; }
      .planetx #block2.spacer.testimonials .preview-box {
        margin: 0 auto 20px;
        width: 60%; }
      .planetx #block2.spacer.testimonials h4 {
        text-align: center; }
      .planetx #block2.spacer.testimonials #testi-carousel .owl-item {
        padding: 0 0px; }
        .planetx #block2.spacer.testimonials #testi-carousel .owl-item > .item > .row {
          text-align: center; }
          .planetx #block2.spacer.testimonials #testi-carousel .owl-item > .item > .row > div {
            display: inline-block;
            float: none; }
      .planetx #block2.spacer.testimonials #testi-carousel .owl-buttons div {
        width: 16px; }
        .planetx #block2.spacer.testimonials #testi-carousel .owl-buttons div.owl-next {
          background-position: -46px 0px; }
    .planetx #block3.spacer.games_apps {
      padding: 60px 0 40px; }
      .planetx #block3.spacer.games_apps .appStore {
        padding-top: 25px; }
      .planetx #block3.spacer.games_apps #appTab .tab-content > .tab-pane {
        padding: 30px 0 0; }
        .planetx #block3.spacer.games_apps #appTab .tab-content > .tab-pane .entry {
          width: 90%; }
        .planetx #block3.spacer.games_apps #appTab .tab-content > .tab-pane ul.game_apps li {
          display: inline-block;
          margin: 0 5px 15px;
          width: 60px; }
      .planetx #block3.spacer.games_apps #appTab .nav-tabs > li {
        margin: 0 20px; }
        .planetx #block3.spacer.games_apps #appTab .nav-tabs > li a h5 {
          font-size: 20px; }
    .planetx #block4.spacer.benefits {
      padding: 50px 0 35px; }
    .planetx #block5.spacer.features {
      padding: 50px 0 30px; }
    .planetx #block6.spacer.awards {
      padding: 45px 0; }
      .planetx #block6.spacer.awards .award-box {
        margin-top: 0px; }
    .planetx #block7.spacer.in_media {
      padding: 60px 0 30px; }
      .planetx #block7.spacer.in_media h1 {
        margin-bottom: 40px; }
      .planetx #block7.spacer.in_media #media-list {
        width: 100%; }
        .planetx #block7.spacer.in_media #media-list ul li {
          width: 100px;
          margin: 0px 15px 20px; }
    .planetx #block8.faq {
      padding: 40px 0; }
      .planetx #block8.faq .icon-plus {
        width: 35px;
        height: 35px;
        background-position: -30px 1px;
        background-size: 60px;
        position: relative;
        top: 5px; }
    .planetx .cd-vertical-nav a {
      padding: 20px 0 0; }
      .planetx .cd-vertical-nav a .label {
        font-size: 100%; }

  .tab_popup {
    padding: 10px 0px 15px;
    border-radius: 5px; }
    .tab_popup h3 {
      font-size: 20px; }
      .tab_popup h3 img {
        width: 65px; }
    .tab_popup p.addIcon {
      line-height: 26px; }
      .tab_popup p.addIcon .fa {
        font-size: 20px;
        margin-right: 8px;
        top: 1px; }

  #colorbox, #colorbox #cboxWrapper, #colorbox #cboxWrapper #cboxContent, #colorbox #cboxWrapper #cboxContent #cboxLoadedContent, #colorbox #cboxWrapper #cboxContent #cboxLoadedContent {
    max-width: 460px;
    width: 100% !important; }

  #colorbox {
    left: 50% !important;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }

  .planetx .tab_popup .owl-controls .owl-buttons div.owl-prev {
    left: -19px; }

  .planetx .tab_popup .owl-controls .owl-buttons div.owl-next {
    right: -19px; } }
@media screen and (max-width: 480px) {
  .planetx #block1.intro-togma .jump-calories-wrap .count {
    color: #fff;
    font-size: 20px; }
  .planetx #block2.spacer.testimonials .preview-box {
    margin: 0 auto 20px;
    width: 80%; }
  .planetx #block3.spacer.games_apps #appTab .nav-tabs > li {
    margin: 0 9px; }
    .planetx #block3.spacer.games_apps #appTab .nav-tabs > li a h5 {
      font-size: 15px; }
  .planetx #block3.spacer.games_apps #appTab .tab-content > .tab-pane .entry {
    width: 100%; }
  .planetx #block5.spacer.features .entry {
    width: 100%;
    margin: 0 auto 0px; }
  .planetx #block6.spacer.awards .award-box {
    padding: 0; }
  .planetx #block7.spacer.in_media h1 {
    margin-bottom: 30px; }

  #colorbox, #colorbox #cboxWrapper, #colorbox #cboxWrapper #cboxContent, #colorbox #cboxWrapper #cboxContent #cboxLoadedContent, #colorbox #cboxWrapper #cboxContent #cboxLoadedContent {
    max-width: 310px;
    width: 100% !important; }

  #colorbox {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); } }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome, .count span {
    padding: 11px 10px 9px 10px; } }
@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(0deg); }
  50% {
    -webkit-transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }
@-moz-keyframes turn {
  0% {
    -webkit-transform: rotateX(0deg); }
  50% {
    -webkit-transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }
@-o-keyframes turn {
  0% {
    -webkit-transform: rotateX(0deg); }
  50% {
    -webkit-transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }
@keyframes turn {
  0% {
    -webkit-transform: rotateX(0deg); }
  50% {
    -webkit-transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }
@media screen and (max-width: 767px) and (min-width: 481px) {
  .tab_popup > .col-md-6.col-sm-6.col-xs-12 {
    width: 50%; }

  .planetx .tab_popup iframe {
    height: 240px !important;
    min-height: 240px; }

  .planetx .tab_popup {
    padding: 10px 0px 15px; }

  .tab_popup h3 img {
    width: 50px; }

  .planetx .tab_popup p.addIcon .fa {
    font-size: 22px;
    margin-right: 5px; }

  .ilightbox-holder.metro-white {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    width: 90%;
    padding-bottom: 12px; }

  .ilightbox-holder div.ilightbox-container {
    position: relative;
    width: 100% !important;
    max-height: 45vh;
    height: 100% !important; }

  .planetx .tab_popup h3 {
    margin-top: 5px; }

  .planetx .tab_popup p.addIcon {
    line-height: 24px; }

  .planetx .tab_popup iframe {
    width: 100%;
    min-height: 300px; } }
.tab_popup .item {
  position: relative; }

@media screen and (max-width: 480px) {
  .planetx .tab_popup iframe {
    height: 220px !important;
    min-height: initial; }

  .tab_popup h3 img {
    width: 50px; }

  .planetx .tab_popup p.addIcon .fa {
    font-size: 22px;
    margin-right: 5px; }

  .planetx .tab_popup p {
    line-height: 22px;
    font-size: 14px; }

  .planetx .tab_popup {
    padding: 5px; }

  .ilightbox-holder.metro-white {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    width: 96%;
    padding-bottom: 12px; }

  .ilightbox-holder div.ilightbox-container {
    position: relative;
    width: 96% !important;
    max-height: 85vh;
    height: 100% !important; } }
.tab_popup .item img.slide_video {
  position: absolute;
  top: 0;
  min-width: 100%;
  height: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%; }

.ilightbox-holder.supportTouch div.ilightbox-container {
  overflow: auto; }

/*.ilightbox-holder div.ilightbox-container{
	max-width: 1170px;
	width: 100% !important;
	height: auto !important;	
}*/

/*# sourceMappingURL=planetx.css.map */
