@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    box-shadow: inset 0 0 1px 1px #00afe0; }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 0.8); }
  100% {
    -webkit-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 0); } }
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: scale(1);
    box-shadow: inset 0 0 1px 1px #00afe0; }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 0.8); }
  100% {
    -moz-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 0); } }
@keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    box-shadow: inset 0 0 1px 1px #00afe0; }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 0.8); }
  100% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(0, 175, 224, 0); } }
.planetx {
  /* ============= typography ============ */
  /*============= HEADER (_header.scss) ==============*/
  /*============= HEADER END ==============*/
  /* ============ HOME MAIN SLIDER ========== */
  /* ============ END HOME MAIN SLIDER ========== */ }
  @media only screen and (max-width: 767px) {
    .planetx h1 {
      font-size: 35px;
      line-height: 40px; } }
  .planetx #header-container {
    height: auto !important; }
  @media only screen and (max-width: 767px) {
    .planetx #header {
      position: initial; } }
  .planetx #header .promo-banner {
    display: none; }
    .planetx #header .promo-banner img {
      width: 100%; }
  .planetx #header .top-bar {
    display: block;
    height: auto;
    background-color: #00afe0;
    overflow: visible;
    position: relative;
    z-index: 99999; }
    .planetx #header .top-bar .preheader-promo-banner {
      margin-bottom: 0px;
      cursor: pointer;
      display: inline-block; }
      @media only screen and (max-width: 767px) {
        .planetx #header .top-bar .preheader-promo-banner {
          display: block; } }
      .planetx #header .top-bar .preheader-promo-banner .preheader-copy {
        text-align: left; }
        @media only screen and (max-width: 767px) {
          .planetx #header .top-bar .preheader-promo-banner .preheader-copy {
            text-align: center; } }
        .planetx #header .top-bar .preheader-promo-banner .preheader-copy .glyphicon {
          font-size: 11px; }
  .planetx #header .header-holder {
    position: absolute;
    z-index: 9999; }
    .planetx #header .header-holder #nav {
      border: none; }
      .planetx #header .header-holder #nav.trans-header {
        background: rgba(0, 0, 0, 0.5) !important; }
      .planetx #header .header-holder #nav #mobile-nav-wrapper {
        margin-top: 10px; }
        .planetx #header .header-holder #nav #mobile-nav-wrapper .mobile-nav li {
          color: #fff; }
          .planetx #header .header-holder #nav #mobile-nav-wrapper .mobile-nav li a {
            color: #fff; }
        .planetx #header .header-holder #nav #mobile-nav-wrapper .mobile-nav .tgoma-menu {
          background-image: url("../images/tgoma_logo_white.png"); }
        .planetx #header .header-holder #nav #mobile-nav-wrapper .tri-sub-menu {
          margin-top: 0px; }
          .planetx #header .header-holder #nav #mobile-nav-wrapper .tri-sub-menu a {
            color: #fff;
            margin: 0 17px; }
            .planetx #header .header-holder #nav #mobile-nav-wrapper .tri-sub-menu a .glyphicon {
              margin-right: 5px; }
        .planetx #header .header-holder #nav #mobile-nav-wrapper .mobile-nav-menu .dropdown .language:before {
          right: 0; }
        .planetx #header .header-holder #nav #mobile-nav-wrapper .mobile-nav-menu .dropdown .dropdown-menu {
          padding: 0px;
          background: #fff; }
          .planetx #header .header-holder #nav #mobile-nav-wrapper .mobile-nav-menu .dropdown .dropdown-menu ul {
            margin: 0px; }
            .planetx #header .header-holder #nav #mobile-nav-wrapper .mobile-nav-menu .dropdown .dropdown-menu ul li {
              display: block; }
              .planetx #header .header-holder #nav #mobile-nav-wrapper .mobile-nav-menu .dropdown .dropdown-menu ul li a {
                text-transform: uppercase;
                font-size: 12px;
                line-height: 16px;
                color: #919191;
                margin: 0px; }
                .planetx #header .header-holder #nav #mobile-nav-wrapper .mobile-nav-menu .dropdown .dropdown-menu ul li a span {
                  display: inline-block; }
                .planetx #header .header-holder #nav #mobile-nav-wrapper .mobile-nav-menu .dropdown .dropdown-menu ul li a:hover:after {
                  display: none; }
      .planetx #header .header-holder #nav .navbar-header {
        top: 0;
        padding-top: 17px;
        height: 62px; }
        .planetx #header .header-holder #nav .navbar-header .logo {
          padding: 0px;
          margin: 0px; }
        @media only screen and (max-width: 767px) {
          .planetx #header .header-holder #nav .navbar-header #nav-icon4 {
            right: 0px; } }
      .planetx #header .header-holder #nav.navbar-default {
        background: none;
        background-image: -webkit-linear-gradient(top, black 7%, rgba(0, 0, 0, 0.65) 28%, transparent 88%);
        background-image: -o-linear-gradient(top, black 7%, rgba(0, 0, 0, 0.65) 28%, transparent 88%);
        background-image: linear-gradient(to bottom, black 7%, rgba(0, 0, 0, 0.65) 28%, transparent 88%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#00000000', GradientType=0); }
      .planetx #header .header-holder #nav #main-nav > .nav {
        margin: 0px;
        padding: 0px; }
        .planetx #header .header-holder #nav #main-nav > .nav > li {
          padding-left: 0px; }
          .planetx #header .header-holder #nav #main-nav > .nav > li.open {
            background: rgba(255, 255, 255, 0.5);
            background-image: -webkit-linear-gradient(top, black 7%, rgba(0, 0, 0, 0.65) 28%, transparent 88%);
            background-image: -o-linear-gradient(top, black 7%, rgba(0, 0, 0, 0.65) 28%, transparent 88%);
            background-image: linear-gradient(to bottom, black 7%, rgba(0, 0, 0, 0.65) 28%, transparent 88%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#00000000', GradientType=0); }
          .planetx #header .header-holder #nav #main-nav > .nav > li > a {
            font-size: 16px;
            color: #fff;
            padding: 17px 22px;
            display: inline-block; }
            @media only screen and (max-width: 991px) {
              .planetx #header .header-holder #nav #main-nav > .nav > li > a {
                padding-left: 16px;
                padding-right: 16px;
                font-size: 14px; } }
            .planetx #header .header-holder #nav #main-nav > .nav > li > a:after {
              display: none; }
            .planetx #header .header-holder #nav #main-nav > .nav > li > a.tgoma-menu {
              top: 8px;
              background-image: url("../images/tgoma_logo_white.png"); }
            .planetx #header .header-holder #nav #main-nav > .nav > li > a.is-drowdown {
              background: none;
              width: auto;
              height: auto;
              margin-left: 0px;
              position: relative; }
            .planetx #header .header-holder #nav #main-nav > .nav > li > a span {
              font-size: 9px;
              margin-left: 10px;
              position: absolute;
              top: 50%;
              right: 6px;
              -ms-transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
          .planetx #header .header-holder #nav #main-nav > .nav > li.open > a span {
            display: none; }
      .planetx #header .header-holder #nav #main-nav .nav li {
        margin-bottom: 0px; }
        .planetx #header .header-holder #nav #main-nav .nav li a:hover {
          text-decoration: none; }
      .planetx #header .header-holder #nav .dropdown-menu {
        border: none;
        box-shadow: none;
        background: rgba(255, 255, 255, 0.5);
        padding: 35px 0px;
        height: auto;
        min-height: initial; }
        .planetx #header .header-holder #nav .dropdown-menu ul {
          list-style: none;
          padding-left: 0px; }
          .planetx #header .header-holder #nav .dropdown-menu ul li {
            display: inline-block;
            margin: 0px 58px; }
            .planetx #header .header-holder #nav .dropdown-menu ul li a {
              font-size: 30px;
              color: #fff;
              text-transform: uppercase; }
              .planetx #header .header-holder #nav .dropdown-menu ul li a:hover {
                color: #00afe0; }
              .planetx #header .header-holder #nav .dropdown-menu ul li a span {
                font-size: 14px;
                font-weight: 500;
                display: block; }
        .planetx #header .header-holder #nav .dropdown-menu .tab-holder {
          text-align: center; }
        .planetx #header .header-holder #nav .dropdown-menu .container-fluid {
          min-height: initial; }
      .planetx #header .header-holder #nav.trans-header #main-nav ul li.open {
        background: rgba(0, 0, 0, 0.34); }
      .planetx #header .header-holder #nav.trans-header #main-nav ul li .dropdown-menu {
        background: rgba(0, 0, 0, 0.67); }
    .planetx #header .header-holder.header-shadow #nav {
      margin-top: 0px; }
    .planetx #header .header-holder.stick {
      position: fixed;
      top: 0; }
      @media only screen and (max-width: 767px) {
        .planetx #header .header-holder.stick {
          position: absolute;
          top: initial; } }
  .planetx #header .add-nav li {
    margin-bottom: 0px;
    margin-left: 20px; }
  .planetx #header .add-nav .chat:before, .planetx #header .add-nav .sign-in:before, .planetx #header .add-nav .tel-link:before, .planetx #header .add-nav .cart:before {
    display: none; }
  .planetx #header .add-nav .chat span, .planetx #header .add-nav .sign-in span, .planetx #header .add-nav .tel-link span, .planetx #header .add-nav .cart span {
    color: #fff; }
  .planetx #header .add-nav .cart span {
    font-size: 13px; }
  .planetx #header .add-nav .chat span {
    font-size: 15px; }
  .planetx #header .add-nav .lang-selector .dropdown-menu {
    top: 21px; }
  .planetx .home-hero-banner {
    position: relative;
    height: calc(100vh - 30px);
    background-image: url("../images/home/hero-banner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    @media only screen and (max-width: 767px) {
      .planetx .home-hero-banner {
        height: 100vh; } }
    .planetx .home-hero-banner .banner-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      @media only screen and (max-width: 991px) {
        .planetx .home-hero-banner .banner-wrap {
          width: 72%; } }
      @media only screen and (max-width: 767px) {
        .planetx .home-hero-banner .banner-wrap {
          width: 95%; } }
      .planetx .home-hero-banner .banner-wrap .header {
        margin-bottom: 54px; }
        @media only screen and (max-width: 767px) {
          .planetx .home-hero-banner .banner-wrap .header {
            margin-bottom: 20px; } }
        .planetx .home-hero-banner .banner-wrap .header .hero-header {
          font-weight: 200;
          line-height: 70px; }
          @media only screen and (max-width: 767px) {
            .planetx .home-hero-banner .banner-wrap .header .hero-header {
              line-height: 46px; } }
  .planetx #homepage-hero-carousel .grab-cursor .slide-item {
    height: calc(100vh - 30px); }
    @media only screen and (max-width: 767px) {
      .planetx #homepage-hero-carousel .grab-cursor .slide-item {
        height: 100vh; } }
  .planetx #homepage-hero-carousel .rsNav.rsBullets {
    display: none; }
  .planetx #homepage-hero-carousel .carousel-block .slide-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 767px) {
      .planetx #homepage-hero-carousel .carousel-block .slide-wrap {
        width: 95%; } }
  .planetx #homepage-hero-carousel .carousel-block .header {
    padding: 0px; }
  .planetx #homepage-hero-carousel .rsArrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  @media only screen and (max-width: 767px) {
    .planetx #static-panels section.intro-togma {
      height: 60vh; } }
  .planetx .intro-togma {
    padding-top: 60px;
    position: relative;
    overflow: hidden;
    background: #E8F2FA url(../images/home-tgoma-bg.jpg) no-repeat center 280px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    /*max-width: 1107px;*/
    margin: 0 auto; }
    @media only screen and (min-width: 1200px) {
      .planetx .intro-togma {
        height: 160vh; } }
    @media only screen and (max-width: 1199px) {
      .planetx .intro-togma {
        height: 120vh; } }
    @media only screen and (max-width: 767px) {
      .planetx .intro-togma {
        padding-top: 0px;
        background-position-y: 180px; } }
    .planetx .intro-togma h1 {
      color: #e30040; }
    .planetx .intro-togma img.tgoma {
      max-width: 172px; }
      @media only screen and (max-width: 767px) {
        .planetx .intro-togma img.tgoma {
          max-width: 108px; } }
    .planetx .intro-togma p {
      font-size: 20px;
      color: #333333;
      line-height: 27px;
      margin: 28px 0; }
      .planetx .intro-togma p strong {
        display: block;
        color: #00afe0;
        font-weight: 600; }
    .planetx .intro-togma .intro-togma-bg {
      		/*@media only screen and (min-width: 1199px){
      			max-width: 1107px;
      			margin: 0 auto;
          	}*/ }
      .planetx .intro-togma .intro-togma-bg .jump-calories-wrap {
        background: rgba(0, 0, 0, 0.3);
        padding: 28px 0 35px 0;
        position: absolute;
        width: 100%;
        bottom: 0;
        		    /*@media only screen and (min-width: 1199px){
        				max-width: 1107px;
            		}*/ }
        @media only screen and (max-width: 767px) {
          .planetx .intro-togma .intro-togma-bg .jump-calories-wrap {
            text-align: center; } }
        .planetx .intro-togma .intro-togma-bg .jump-calories-wrap .title {
          font-size: 30px;
          color: #fff;
          line-height: 27px;
          margin-bottom: 12px; }
          @media only screen and (max-width: 767px) {
            .planetx .intro-togma .intro-togma-bg .jump-calories-wrap .title {
              font-size: 22px;
              margin-bottom: 0px; } }
        .planetx .intro-togma .intro-togma-bg .jump-calories-wrap .count {
          font-size: 30px;
          color: #fff;
          line-height: 27px;
          margin-bottom: 12px; }
          @media only screen and (max-width: 767px) {
            .planetx .intro-togma .intro-togma-bg .jump-calories-wrap .count {
              font-size: 18px; } }
          .planetx .intro-togma .intro-togma-bg .jump-calories-wrap .count span {
            padding: 10px 10px;
            border-radius: 3px;
            display: inline-block;
            margin: 0px 4px;
            position: relative;
            background: #00afef;
            background: -moz-linear-gradient(top, #00afef 0%, #13baf7 50%, #00afef 51%, #00afef 71%, #00afef 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, #00afef), color-stop(50%, #13baf7), color-stop(51%, #00afef), color-stop(71%, #00afef), color-stop(100%, #00afef));
            background: -webkit-linear-gradient(top, #00afef 0%, #13baf7 50%, #00afef 51%, #00afef 71%, #00afef 100%);
            background: -o-linear-gradient(top, #00afef 0%, #13baf7 50%, #00afef 51%, #00afef 71%, #00afef 100%);
            background: -ms-linear-gradient(top, #00afef 0%, #13baf7 50%, #00afef 51%, #00afef 71%, #00afef 100%);
            background: linear-gradient(to bottom, #00afef 0%, #13baf7 50%, #00afef 51%, #00afef 71%, #00afef 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00afef', endColorstr='#00afef', GradientType=0 ); }
            @media only screen and (max-width: 767px) {
              .planetx .intro-togma .intro-togma-bg .jump-calories-wrap .count span {
                padding: 4px 6px 2px 6px;
                line-height: 20px; } }
            .planetx .intro-togma .intro-togma-bg .jump-calories-wrap .count span.flip {
              z-index: 2;
              -webkit-animation: turn 0.5s 0s linear both;
              -moz-animation: turn 0.5s 0s linear both;
              animation: turn 0.5s 0s linear both; }
            .planetx .intro-togma .intro-togma-bg .jump-calories-wrap .count span:after {
              content: '';
              display: block;
              width: 100%;
              height: 1px;
              background: #3892d8;
              position: absolute;
              top: 50%;
              left: 0px;
              z-index: 1; }
    @media only screen and (max-width: 991px) {
      .planetx .intro-togma .home-tgoma {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .planetx .intro-togma .home-tgoma {
        display: block; } }
    .planetx .intro-togma .home-tgoma img {
      width: 100%; }
  .planetx .how-we-make {
    background: #f7f1e9;
    padding-bottom: 68px; }
    @media only screen and (max-width: 767px) {
      .planetx .how-we-make {
        padding-bottom: 46px; } }
    .planetx .how-we-make .trampoline-hotspot .hotspot-wrap {
      display: inline-block;
      position: relative; }
      @media only screen and (max-width: 767px) {
        .planetx .how-we-make .trampoline-hotspot .hotspot-wrap img {
          width: 100%; } }
    .planetx .how-we-make .trampoline-hotspot .hotspot-point {
      position: absolute;
      height: 56px;
      width: 56px;
      display: flex;
      align-items: center;
    			/*.hs-tooltip-w{
    				width: 268px;
				    position: absolute;
				    height: 100%;
				    top: 0;
				    @include breakpoint($mobile){
						display: none;
				    }
    			}*/ }
      .planetx .how-we-make .trampoline-hotspot .hotspot-point:hover {
    				/*overflow: visible;
    				.hotspot-tooltip{
				    	opacity: 1;
				    	z-index: 999;
				    	@include transition(0.4s);
				    }*/ }
      .planetx .how-we-make .trampoline-hotspot .hotspot-point .plus-icon {
        font-family: serif;
        background: #00afe0;
        color: #fff;
        padding: 5px 8px 6px 9px;
        border-radius: 50%;
        font-size: 30px;
        line-height: 24px;
        cursor: pointer;
        position: relative;
        z-index: 99;
        left: 11px;
        height: 35px;
        width: 35px; }
        @media only screen and (max-width: 767px) {
          .planetx .how-we-make .trampoline-hotspot .hotspot-point .plus-icon {
            font-size: 24px;
            line-height: 20px;
            height: auto;
            width: auto; } }
        .planetx .how-we-make .trampoline-hotspot .hotspot-point .plus-icon:after {
          content: '';
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: inherit;
          background-color: transparent;
          -webkit-animation: cd-pulse 2s infinite;
          -moz-animation: cd-pulse 2s infinite;
          animation: cd-pulse 2s infinite; }
      .planetx .how-we-make .trampoline-hotspot .hotspot-point .hotspot-tooltip {
        width: 268px;
        margin-left: 74px;
        border: 2px solid #00afe0;
        position: absolute;
        left: 0;
        bottom: -37px;
        z-index: 9;
        transform: scale(0);
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -ms-transition: 0.4s ease-in-out;
        -webkit-transition: 0.4s ease-in-out; }
        @media only screen and (max-width: 767px) {
          .planetx .how-we-make .trampoline-hotspot .hotspot-point .hotspot-tooltip {
            display: none; } }
        .planetx .how-we-make .trampoline-hotspot .hotspot-point .hotspot-tooltip:before {
          content: '';
          display: block;
          position: absolute;
          bottom: 50px;
          left: -41px;
          width: 41px;
          height: 2px;
          background: #00afe0;
          margin: 13px 0px;
          z-index: -1; }
        .planetx .how-we-make .trampoline-hotspot .hotspot-point .hotspot-tooltip .preview-box .image-holder {
          position: relative; }
          .planetx .how-we-make .trampoline-hotspot .hotspot-point .hotspot-tooltip .preview-box .image-holder img {
            width: 100%;
            height: auto;
            vertical-align: top; }
          .planetx .how-we-make .trampoline-hotspot .hotspot-point .hotspot-tooltip .preview-box .image-holder .icon-play {
            width: 54px;
            height: 40px;
            position: absolute;
            bottom: 12px;
            right: 12px;
            margin: 0; }
        .planetx .how-we-make .trampoline-hotspot .hotspot-point .hotspot-tooltip .details {
          background: #e7e7e7; }
          .planetx .how-we-make .trampoline-hotspot .hotspot-point .hotspot-tooltip .details p {
            margin: 0px;
            font-size: 17px;
            font-weight: 300;
            line-height: 20px;
            padding: 20px 16px; }
            .planetx .how-we-make .trampoline-hotspot .hotspot-point .hotspot-tooltip .details p strong {
              text-transform: uppercase;
              font-weight: 600; }
@-moz-document url-prefix() {
  .planetx .how-we-make .trampoline-hotspot .hotspot-point .hotspot-tooltip {
    margin-left: 50px; } }
      .planetx .how-we-make .trampoline-hotspot .hotspot-point.open-preview .hotspot-tooltip {
        z-index: 999;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1); }
    .planetx .how-we-make .trampoline-hotspot #hotspots-item {
      display: none; }
      @media only screen and (max-width: 767px) {
        .planetx .how-we-make .trampoline-hotspot #hotspots-item {
          display: block;
          margin-top: 20px; }
          .planetx .how-we-make .trampoline-hotspot #hotspots-item .hotspot-tooltip {
            margin-bottom: 20px; }
            .planetx .how-we-make .trampoline-hotspot #hotspots-item .hotspot-tooltip .preview-box {
              width: 30%;
              float: left;
              border: 2px solid #00afe0;
              box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); }
              .planetx .how-we-make .trampoline-hotspot #hotspots-item .hotspot-tooltip .preview-box .image-holder {
                position: relative; }
                .planetx .how-we-make .trampoline-hotspot #hotspots-item .hotspot-tooltip .preview-box .image-holder img.lazy {
                  width: 100%;
                  height: auto; }
                .planetx .how-we-make .trampoline-hotspot #hotspots-item .hotspot-tooltip .preview-box .image-holder .icon-play {
                  width: 32px;
                  position: absolute;
                  bottom: 8px;
                  right: 8px;
                  margin: 0; }
            .planetx .how-we-make .trampoline-hotspot #hotspots-item .hotspot-tooltip .details {
              width: 65%;
              float: right;
              text-align: left; }
              .planetx .how-we-make .trampoline-hotspot #hotspots-item .hotspot-tooltip .details p {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 0; }
          .planetx .how-we-make .trampoline-hotspot #hotspots-item:after {
            content: '';
            clear: both;
            display: block; } }
  .planetx .quality {
    padding: 64px 0 80px 0; }
    @media only screen and (max-width: 767px) {
      .planetx .quality {
        padding-bottom: 48px;
        padding-top: 26px; } }
    .planetx .quality .header {
      margin-bottom: 66px; }
      @media only screen and (max-width: 767px) {
        .planetx .quality .header {
          margin-bottom: 16px; } }
    .planetx .quality .double-life {
      margin-top: 24px; }
      .planetx .quality .double-life img {
        float: left;
        max-width: 66px;
        margin-right: 26px; }
      .planetx .quality .double-life .double-life-txt {
        float: left;
        width: calc(100% - 66px - 26px); }
        .planetx .quality .double-life .double-life-txt h6 {
          font-size: 20px;
          text-transform: uppercase;
          color: #666666;
          border-bottom: 1px solid #666666;
          font-weight: 700;
          display: inline-block;
          margin: 0px 0 5px 0; }
        .planetx .quality .double-life .double-life-txt p {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 500;
          margin: 0;
          line-height: 17px; }
    @media only screen and (min-width: 768px) {
      .planetx .quality .center-flex {
        display: flex;
        align-items: center; } }
    @media only screen and (max-width: 767px) {
      .planetx .quality .shodow-border {
        margin-top: 20px; } }
  .planetx .awarded {
    padding: 44px 0;
    background: #00afe0; }
    @media only screen and (max-width: 767px) {
      .planetx .awarded {
        padding: 9px 0; } }
    .planetx .awarded .header h1 {
      margin-bottom: 36px; }
    .planetx .awarded .award-year ul {
      list-style: none;
      padding: 0px; }
      .planetx .awarded .award-year ul li {
        display: inline-block;
        width: calc(100% / 8 - 52px);
        margin: 0 20px; }
        @media only screen and (max-width: 991px) {
          .planetx .awarded .award-year ul li {
            width: calc(100% / 4 - 52px); } }
        @media only screen and (max-width: 767px) {
          .planetx .awarded .award-year ul li {
            width: calc(100% / 4 - 23px);
            margin: 0 10px; } }
        .planetx .awarded .award-year ul li a {
          display: block; }
          .planetx .awarded .award-year ul li a:hover {
            text-decoration: none; }
        .planetx .awarded .award-year ul li img {
          max-width: 100%;
          margin-bottom: 10px; }
          @media only screen and (max-width: 767px) {
            .planetx .awarded .award-year ul li img {
              margin-bottom: 0px; } }
        .planetx .awarded .award-year ul li p {
          color: #fff;
          margin: 0px; }
  .planetx .reviews {
    padding: 60px 0; }
    @media only screen and (max-width: 767px) {
      .planetx .reviews {
        padding: 30px 0; } }
    .planetx .reviews .header {
      margin-bottom: 36px; }
      @media only screen and (max-width: 767px) {
        .planetx .reviews .header {
          margin-bottom: 10px; } }
    .planetx .reviews .vid-testimonial .preview-box {
      border: 3px solid #fff;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
      position: relative;
      margin: 6px; }
      .planetx .reviews .vid-testimonial .preview-box .image-holder {
        position: relative; }
        .planetx .reviews .vid-testimonial .preview-box .image-holder img {
          width: 100%;
          height: auto;
          vertical-align: top; }
        .planetx .reviews .vid-testimonial .preview-box .image-holder .icon-play {
          width: 54px;
          height: 40px;
          position: absolute;
          bottom: 12px;
          right: 12px;
          margin: 0; }
          @media only screen and (max-width: 767px) {
            .planetx .reviews .vid-testimonial .preview-box .image-holder .icon-play {
              width: 32px;
              height: 24px; } }
    @media only screen and (max-width: 767px) {
      .planetx .reviews .vid-testimonial .vid-testimonial-bx {
        text-align: center; } }
    .planetx .reviews .vid-testimonial .vid-testimonial-bx p {
      margin-bottom: 0px; }
    .planetx .reviews .vid-testimonial .vid-testimonial-bx p.auth, .planetx .reviews .vid-testimonial .vid-testimonial-bx .auth-post {
      text-transform: uppercase; }
    .planetx .reviews .vid-testimonial .vid-testimonial-bx p.auth {
      margin-top: 22px; }
    .planetx .reviews .vid-testimonial .rsBullets {
      position: absolute;
      bottom: -30px;
      text-align: center;
      width: 100%; }
      .planetx .reviews .vid-testimonial .rsBullets .rsNavItem {
        display: inline-block;
        cursor: pointer;
        margin: 0 4px; }
        .planetx .reviews .vid-testimonial .rsBullets .rsNavItem span {
          height: 12px;
          width: 12px;
          background: #d7d7d7;
          display: inline-block;
          border-radius: 50%; }
        .planetx .reviews .vid-testimonial .rsBullets .rsNavItem.rsNavSelected span, .planetx .reviews .vid-testimonial .rsBullets .rsNavItem:hover span {
          background: #00afe0; }
    .planetx .reviews .approved-rvw {
      border-left: 1px solid #e1e1e1; }
      @media only screen and (max-width: 991px) {
        .planetx .reviews .approved-rvw {
          margin-top: 40px; } }
      @media only screen and (max-width: 767px) {
        .planetx .reviews .approved-rvw {
          margin-top: 40px; } }
  .planetx .model-selector {
    background: #fbfafa; }
  .planetx .shodow-border img {
    max-width: 100%;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3);
    border: 2px solid #fff; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome, .planetx .awarded .award-year ul li {
    width: 10%;
    margin: 0 1%; }

  ::i-block-chrome, .planetx .quality .double-life .double-life-txt {
    width: 80%; }

  ::i-block-chrome, .planetx .how-we-make .trampoline-hotspot .hotspot-point .hotspot-tooltip {
    bottom: -27px; }

  ::i-block-chrome, .count span {
    padding: 11px 10px 9px 10px; } }
@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(0deg); }
  50% {
    -webkit-transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }
@-moz-keyframes turn {
  0% {
    -webkit-transform: rotateX(0deg); }
  50% {
    -webkit-transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }
@-o-keyframes turn {
  0% {
    -webkit-transform: rotateX(0deg); }
  50% {
    -webkit-transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }
@keyframes turn {
  0% {
    -webkit-transform: rotateX(0deg); }
  50% {
    -webkit-transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }

/*# sourceMappingURL=planetx.css.map */
