@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/Proxima-Nova-Thin.eot');
	src: url('fonts/Proxima-Nova-Thin.eot?#iefix') format('embedded-opentype'),
	url('fonts/Proxima-Nova-Thin.woff') format('woff'),
	url('fonts/Proxima-Nova-Thin.woff2') format('woff'),
	url('fonts/Proxima-Nova-Thin.ttf') format('truetype'),
	url('fonts/Proxima-Nova-Thin.svg#ProximaNovaLtRegular') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/proximanova-light-webfont.eot');
	src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/proximanova-light-webfont.woff') format('woff'),
	url('fonts/proximanova-light-webfont.ttf') format('truetype'),
	url('fonts/proximanova-light-webfont.svg#ProximaNovaLtRegular') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/ProximaNova-Regular.eot');
	src: local('☺'), 
	url('fonts/ProximaNova-Regular.woff') format('woff'), 
	url('fonts/ProximaNova-Regular.ttf') format('truetype'), 
	url('fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/ProximaNova-Semibold.eot');
	src: local('☺'),
	url('fonts/ProximaNova-Semibold.woff') format('woff'), 
	url('fonts/ProximaNova-Semibold.ttf') format('truetype'), 
	url('fonts/ProximaNova-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/ProximaNova-Bold.eot');
	src: local('☺'),
	url('fonts/ProximaNova-Bold.woff') format('woff'),
	url('fonts/ProximaNova-Bold.ttf') format('truetype'), 
	url('fonts/ProximaNova-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
/*
light: 300;normal: 400;semibold: 600;bold: 700;
GLOBAL STYLES
-------------------------------------------------- */
html{ height: 100%;}
body{font-family: 'ProximaNova'; font-weight: 300; font-size: 14px; line-height: 22px; color: #5a5a5a; max-height: 100%; }
.white{ color: #fff}
.black{ color: #000;}
img{ max-width: 100%; height: auto;}
a{ color: #c9a424;}
a:hover{ text-decoration: none; color: #172538;}
a:focus{ outline: 0; border: 0;}
hr{}
h1{ font-size: 50px; font-weight: 300;}
h2{ font-size: 35px; font-weight: 800;}
h3{ font-size: 30px; font-weight: 700;}
h4{ font-size: 22px; font-weight: 800;}
h5{ font-size: 16px;}
h6{ font-size: 14px;}
.spacer{ padding-top: 20px; padding-bottom: 20px;}
/* Animation sections */
.zoomPic-wrap{ overflow: hidden;}
.zoomPic{-webkit-transition: all 1s ease;-moz-transition: all 1s ease;	-o-transition: all 1s ease;	-ms-transition: all 1s ease;transition: all 1s ease;}
.zoomPic:hover{ transform: scale(1.1);}
.transparent{ opacity: 0;}
.opaque{ opacity: 1;}
/* SOCIAL STYLING
-------------------------------------------------- */
.social{}
.social a{ width: 31px; height: 31px; font-size: 20px; line-height: 31px; text-align: center; color: #fff; display: inline-block; border-radius: 50%; background-color: #0095da; margin: 0 1px;}
.social a:hover{ background-color: #999;}
/* BUTTON STYLING
-------------------------------------------------- */
.btn{ border-radius: 10px;font-size: 14px;line-height: 18px; padding: 7px 15px; text-transform: uppercase;}
.btn-default{ color: #fff; background-color: transparent; font-weight: 700; min-width: 160px; border-color: #fff; margin-top: 20px;}
.btn-info{ font-weight: 300; padding: 10px 15px; border: 0;	background: #00aeef;}
.btn-info:hover{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00aeef+0,0093ca+100 */
	background: #00aeef; /* Old browsers */
	background: -moz-linear-gradient(top, #00aeef 0%, #0093ca 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00aeef 0%,#0093ca 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00aeef 0%,#0093ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#0093ca',GradientType=0 ); /* IE6-9 */}
/* FORM STYLING
-------------------------------------------------- */
form{}
form label {}
form input, 
form select, 
form textarea, 
form .form-control{ background-color: #ffffff!important;}
form input[type="submit"], 
form input[type="reset"], 
.btn-submit{}
form input[type="submit"]:hover, 
form input[type="reset"]:hover, 
.btn-submit:hover{}
/* HEADER STYLING
-------------------------------------------------- */
.header { padding: 10px 0; background-color: rgba(255,255,255,.9);}
.logo{ display: inline-block;}
.logo img{ width: auto; max-height: 45px;}
.header  .btn.btn-info{ margin-top: 3px; }
/* CONTENT AREA STYLING
-------------------------------------------------- */
.title-wrap{}
.title-wrap h1, .secTitle{ font-size: 30px; line-height: 34px; font-weight: 100; margin: 0 0 30px;}
.title-wrap p{}

#block1 p {
	color: #000;
}
#block1 .orange { color: #E85933;}
#block1 .blue { color: #3891D9;}
#block1 .red { color: #E30040;}
#block2 h2 { color: #FAE029;}
#block2 div.container div.entry.transparent.animated.fadeInUp.opaque p {color: #ffffff;}
#block3 h2 {color: #2BA953;}
#block3 h4 {color: #3891D9;}
#block3 p { color: #000000; }
#block4 h2 { color: #FAE029;}
#block6 h2 {color: #FAE029;}
#block6 p { color: #FAE029; }
#block7 h2, #block7 h4 { color: #6E1C8F; }
#block7 p {
	color: #000;
}

/* FOOTER STYLING
-------------------------------------------------- */
.footer{ padding-top: 70px; background-color: #F7f7fa;
}
.footer ul{ padding: 0; margin: 0; list-style: none;}
.footer li{ display: inline-block; padding: 0 8px;}
/* News Letter */
.news-letter{ background-color: #F9E129; padding: 50px 0 33px 0;}
.news-letter h3{ font-weight: 300; font-size: 34px; line-height: 38px; margin: 0 0 30px 0;}
#newsForm form{ position: relative; font-size: 18px; font-weight: 300;}
#newsForm .input-wrap{ width: 100%; float: left; margin-bottom: 10px;}
#newsForm input[type="text"],
#newsForm input[type="email"]{ width: 100%; float: left; height: 50px; border-radius: 10px; border: none; background: #41484e; padding: 10px 15px;  }
#newsForm .fa-envelope{ width: 52px; height: 52px; line-height: 52px; text-align: center; background-color: #fff; border-radius: 50%; display: block; margin: 0 auto 10px; color: #2c343a; font-size: 30px;}
#newsForm .btn-submit{ font-size: 18px; color: #6E1C8F;  font-weight: 800; width: 94px; padding: 15px 15px 11px; border: 0; background: transparent!important;
}
#newsForm .btn-submit:hover{ background-color: #6E1C8F; color: #fff;}
/* foot social */
.footer .social{ margin-bottom: 40px;}
/* foot nav */
#foonNav{ margin-bottom: 60px;}
#foonNav li{ padding: 0 15px; }
#foonNav li a{ color: #0095d9;}
/* copyright */
.copyright{ background-color: #2c343a; font-size: 14px; line-height: 14px; color: #cbcbcb; padding: 15px 0;}
.copyright li{ border-left: 1px solid #cbcbcb;}
.copyright li:first-child{ border-left: 0;}
.copyright a{ color: #cbcbcb;}
.copyright a:hover{ color: #fff;}

/* OWL CAROUSEL STYLING
-------------------------------------------------- */
.owl-buttons { font-family: "FontAwesome"; display: inline-block; font-style: normal; font-weight: normal; -webkit-font-smoothing: antialiased; font-size: 22px; line-height: 33px; z-index: 9000; }
.owl-buttons div { color: #fff; transition: .3s all ease-in-out; -webkit-transition: .3s all ease-in-out; -moz-transition: .3s all ease-in-out; /* background-image: url('images/frd-bckd-arrow.png'); background-repeat: no-repeat;  */
background-color: #E85933; width: 33px; height: 33px; border-radius: 50%; }
.owl-buttons div.owl-prev { float: left; background-position: 0 0; }
.owl-buttons div.owl-next { float: right; background-position: right 0; }
.owl-buttons div:hover { color: #0095da; background-color: #e1e1e1; }

.owl-pagination .owl-page{ display: inline-block;}
.owl-pagination .owl-page span { background: #ff6633 repeat scroll 0 0; border-radius: 20px; height: 12px; transition: opacity 200ms ease 0s; width: 12px; display: block; margin: 0 2px; }
.owl-pagination .owl-page.active span, 
.owl-pagination .owl-page:hover span {background: #fff;}

/* BOOTSTRAP CAROUSEL STYLING
-------------------------------------------------- */
.carousel-control.left, .carousel-control.right{ background: none; height: 31px; top: 50%; margin-top: -15px; opacity: 1}

/* BOOTSTRAP ACCORDIAN STYLING
-------------------------------------------------- */
.nav-tabs{ border: 0;}
.nav-tabs > li > a{padding: 2px 2px 5px 2px; border: 0;}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li > a:hover{ background-color: #fff; border-radius: 5px 5px 0 0; border: 0;}
.nav-tabs > li > a img{ max-width: 34px;}

/* HOMEPAGE STYLING
-------------------------------------------------- */
.vNAv-section{ position: relative;}
.videoBanner{ position: relative; background: #000;}
.videoBanner .bx-controls-direction a{ position: absolute; top: 50%; display: inline-block; z-index: 999; font-size: 50px; color: #fff; background-color: rgba(0,0,0,.6); padding: 5px 10px; opacity: 0; visibility: hidden;}
.videoBanner .bx-controls-direction a.bx-prev{ left: 15px;}
.videoBanner .bx-controls-direction a.bx-next{ right: 15px;}
.bx-wrapper:hover .bx-controls-direction a{ opacity: 1; visibility: visible;}
.springLogo{ position: absolute; right: 23px; top: 38px; z-index: 999;}
#bnnr-video{ width: 100%;}
#bnnr-video video{ width: 100%; height: auto; padding: 0; margin: 0; float: left; background-color:transparent; background-repeat: no-repeat; background-position: center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;
}
.icon-play{ width: 70px; height: 70px; position: absolute; left: 50%; top: 50%; margin: -35px 0 0 -35px; cursor: pointer; display: inline-block; border-radius: 50%;}
#appTab{ margin-top: 15px;}
#appTab .tab-content{ background-color: #fff; border-radius: 5px;}
#appTab .tab-pane{ color: #ec193b; padding-top: 20px; padding-bottom: 20px;}
#appTab .nav-tabs > li{ float: none; display: inline-block;}
#appTab .addIcon{ position: relative; padding-left: 44px; }
#appTab .addIcon .fa{ position: absolute; left: 0; top: 0; font-size: 32px;}
#appTab .owl-controls{ position: absolute; left: 0; top: 50%; margin-top: -15px; width: 100%; z-index: 99;}
#appTab .owl-buttons{ width: 100%; padding: 0 5px;}
#appTab .owl-buttons div{ background-color: transparent; }
#moreText{ position: relative; padding-bottom: 80px;}
#moreText .textBox{ padding: 10px 25px;}
#moreText h4{ text-transform: uppercase; margin: 0 0 15px 0;}
#moreText em{ color: #000;}
.close_more{ position: absolute; bottom: 30px; left: 50%; margin-left: -13px; display: inline-block;}
.appStore{ font-size: 14px; line-height: 18px; padding: 20px 0  0;}
.appStore .app-pic{ margin: 0 0 10px;}
.appStore .app-pic img{ margin: 10px;}
.appStore .btn-info{ font-size: 33px; text-transform: capitalize; line-height: 33px;}
#fea_alien{ position: absolute; top: -54px; left: 22%;}
#fea_alien2{ position: absolute; top: -54px; left: 22%;}
.award-box{ margin-top: 30px;}
.award-box p{ font-size: 18px; font-weight: 400; line-height: 30px;}
#award-Slider .owl-item{ padding: 0;}
#award-Slider .owl-item .award-box{ width: 100%;}
.award-box .awardLogo{ min-height: 90px; margin: 20px 0;}
#testi-carousel h4{ color: #6E1C8F; text-transform: uppercase; margin: 30px 0 0;}
#testi-carousel .owl-controls{ position: absolute; left: 0; top: 40%; width: 100%; z-index: 99; margin-top: -15px;}
#testi-carousel .owl-buttons{ width: 100%;}
#testi-carousel .owl-buttons div{ background-color: transparent; }


.faqText-row{ position: relative; padding-left: 25px; margin-top: 5px;}
.faqText-row .fa{ position: absolute; left: 0; top: 2px; font-weight: 800;}
.faqText-row  h4{ margin: 0;}
.faqText-row ul{ padding-left: 20px;}
#award-Slider.row.owl-carousel{ margin-left: 0; margin-right: 0;}


#feelthefun{ background: url('images/feelthesun-bg0.png') no-repeat center bottom; min-height: 1900px; width: 100%; position: relative; height: 100%;}
#par2{ position: absolute; left: 231px; bottom: 220px; z-index: 9991;}
#par3{ position: absolute; left: 231px; bottom: 220px; z-index: 9991;}
#footPrint{}
#block4{ z-index: 101;}
#alien2{ position: absolute;}
#feelthefun.skrollable{ z-index: auto;}


/* SUBPAGE STYLING
-------------------------------------------------- */

/* CUSTOMIZE CMS AREA
-------------------------------------------------- */
.entry{}
.entry a{text-decoration: underline;}
.entry .btn{ text-decoration: none;}
.entry p{}
.entry h1{ color: #141414; margin-top: 10px;}
.entry h2{ margin-top: 10px;}
.entry h3{ color: #141414; font-weight: 400; margin-top: 10px;}
.entry h4{}
.entry h5{}
.entry h6{}
.entry ul{margin: 1px 0; padding: 0; list-style: none;}
.entry ul >li{ margin-bottom: 10px; padding: 0; position: relative; padding-left: 15px;}
.entry ul >li:before{ content: '\f0da'; font-family: "FontAwesome"; font-size: 14px; position: absolute; top: 0; left: 2px; color: #000;}
.entry ul li li{ padding-left: 15px; margin-bottom: 5px;}
.entry ul li a{ text-decoration: underline;}
.entry ul ul{ margin: 5px 0 10px 0;} 
.entry ol{margin: 20px 0; padding: 0 0 0 20px; counter-reset:item;}
.entry ol li {text-indent:-2em; list-style-type:none; counter-increment:item; padding-left: 15px;} 
.entry ol li:before { display:inline-block; width:30px; padding-right:10px; font-weight:700; text-align:right; content:counter(item) ".";}
.entry ol ol{ list-style-position: inside; margin: 10px 0 0;}
.entry dl{}
.entry dl dt{ margin-top: 10px;}
.entry dl dd{ padding-left: 15px;}
.entry img{ margin: 10px 0;}
.entry img.alignleft{ float: left; margin: 5px 30px 10px 0;}
.entry img.alignright{ float: right; margin: 5px 0 10px 30px;}
.entry form{}
/*
RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 479px){
	#appTab .nav-tabs > li{ float: left;}
}
@media (min-width: 480px){
	.nav-tabs > li > a img{ max-width: 50px; }
}
@media (max-width: 767px){
	.btn{ white-space: inherit;}
	.springLogo{ max-width: 120px; top:10px; right: 10px;}
	#appTab .tab-content{ padding-left: 20px; padding-right: 20px;}
	#fea_alien{left: 15px; max-width: 50px; top: -20px;}
	#moreFaq{ padding-bottom: 40px;}
	.close_more{ bottom: 10px;}
	#appTab{ margin-bottom: 15px;}
	.award-box{ margin-top: 0}
	#block5{ padding-bottom: 20px;}
	.phone_previews{ padding-top: 20px;}
	#cd-timeline{ margin-top: 10px; margin-bottom: 30px;}
	.cd-vertical-nav.open li{ padding: 5px 0; font-size: 20px;}
	.cd-vertical-nav.open a{ padding: 0; font-weight: normal;}
	#block3 .center_phone p { color: #fff; }
	#appTab .tab-content{ border-radius: 0 0 5px 5px;}
}
@media (min-width: 768px){
	body{padding-top: 90px;}
	.spacer{ padding-top: 70px; padding-bottom: 70px;}
	.btn{ font-size: 20px;line-height: 24px; }
	.header { position: fixed; left: 0; top: 0; z-index: 9999; width: 100%; padding-top: 15px; padding-bottom: 10px;}
	.logo img{ max-height: 60px!important;}
	.header .btn.btn-info{ margin-top: 8px;}
	.videoBanner .bx-controls-direction a.bx-prev{ left: 80px;}
	.videoBanner .bx-controls-direction a.bx-next{ right: 80px;}
	.icon-play{ width: 143px; height: 143px; margin: -71px 0 0 -71px; }
	.title-wrap h1, .secTitle{ font-size: 50px; line-height: 54px; }	
	.nav-tabs > li > a{padding: 2px 2px 5px 2px;}
	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus, 
	.nav-tabs > li > a:hover{border-radius: 25px 25px 0 0;}
	.nav-tabs > li > a img{ max-width: 100%;}
	#appTab .tab-pane{ background-color: #fff; color: #ec193b; border-radius: 15px; padding-top: 30px; padding-bottom: 30px;}
	#newsForm form{padding: 0 102px 0 52px;}
	#newsForm .input-wrap{ width: 33.33%; padding-left: 10px;}
	#newsForm .fa-envelope{ position: absolute; left: 0; top: 0;}
	#newsForm .btn-submit{ position: absolute; right: 0; top: 0;}
}
@media (max-width: 991px){
}
@media (min-width: 992px){
	.btn-info{min-width: 215px;}
	.nav-tabs > li > a{ padding: 10px 10px 14px 10px;}
}
@media (min-width: 1024px){
}
@media (max-width: 1199px){
	#testi-carousel .carousel-control{ width: 50px;}
	#testi-carousel .carousel-inner > .item{ padding: 0 30px;}
	#testi-carousel .owl-item{ padding: 0 50px;}
}
@media (min-width: 1200px){
	body{ padding-top: 115px; font-size: 18px; line-height: 24px;}
	.spacer{ padding-top: 130px; padding-bottom: 130px;}
	.header{}
	.logo img{ max-height: 10%!important;}
	.header .btn.btn-info{ margin: 30px 0 0;}
	.appStore{ padding-top: 90px;}
	#appTab{ margin-top: 65px;}
	.phone_previews{ margin-top: 40px;}
	/* space adjustment of sections */
	#block1 >.spacer{}
	#moreText.spacer{ padding-top: 90px; padding-bottom: 100px;}
	#block2.spacer{ padding-top: 110px; padding-bottom: 50px;}
	#block3.spacer{ padding-top: 140px;}
	#block4.spacer{ padding-top: 150px; padding-bottom: 250px;}
	#block5 .appStore.spacer { padding-top: 170px;padding-bottom: 100px;}
	#block5 .appStore .app-pic{ margin-bottom: 40px;}
	#block6.spacer{ padding-top: 100px;}
	#block6.spacer{ padding-bottom: 110px;}
	#block7.spacer{ padding-top: 140px; padding-bottom: 160px;}
	#block8 .secTitle{ margin-bottom: 40px;}
#moreFaq.spacer{ padding-top: 90px; /*padding-bottom: 220px;*/}
#testi-carousel .owl-buttons div.owl-prev{ margin-left: -50px;}
#testi-carousel .owl-buttons div.owl-next{ margin-right: -50px;}
}
/* Added on 1.4.16 */
#block1 .secTitle{ color: #E30040; margin-top: 10px;}
#block1 #moreText-btn, #block1 #moreText-btn2{ color: #f15c2a; border-color: #adadad;}
/* Added on 14.4.16 */
#block8 .secTitle  a{ color: #FFF;}
#block8 .secTitle .icon-plus{ background: url('images/icon-plus-minus2.png') no-repeat right 0 transparent;width: 25px; height: 25px;text-align: center; border-radius: 50%; border: 1px solid #fff; display: inline-block;}
#block8 .secTitle #moreFaq-btn.open .icon-plus{ background-position: left top;}
.faqText-row { margin-bottom: 15px;}
.faqText-row .faq-ques{ color: #fff;}
.faqText-row .faq-ques:hover, .faqText-row .faq-ques:focus{ text-decoration: none;outline: none;}
.faqText-row .faq-ans{ display: none;}
.faqText-row .faq-ques .fa-caret-right.fa-caret-down:before{ content: '\f0d7';}
#block8{ padding-top: 35px;}
@media (min-width: 768px){
	#block8 .secTitle .icon-plus{ background-image: url('images/icon-plus-minus.png');width: 40px; height: 40px;}
	#block8{ padding-top: 50px;}
}
