<div id="animation-container" style="" 
		data-_keyframe0-top 
		data-_keyframe1-top 
		data-_keyframe2-top 
		data-_keyframe3-top 
		data-_keyframe4-top  
		data-emit-events>



	<!-- span anchors -->
	<span id="scene0" class="scene-anchor"></span>
	<span id="scene1" class="scene-anchor"></span>
	<span id="scene2" class="scene-anchor"></span>
	<span id="scene3" class="scene-anchor"></span>
	<span id="scene4" class="scene-anchor"></span>
	<!-- span anchors -->



	<!-- Animation Viewport --> 
	<div id="animation-view-port" class="">
		
			<div id="curtain-down"><img src="../images/Preloader_2.gif"></div>

			<span id="curtain-revealed">

				<div class="scrollpos"></div>
				
				<div id="inner-container" class="inner-container">	
									
					<div id="skip-scene">
						<a id="scene0-link" class="scene0 scene-link" ></a> <br>
						<a id="scene1-link" class="scene1 scene-link" ></a> <br>
						<a id="scene2-link" class="scene2 scene-link" ></a> <br>
						<a id="scene3-link" class="scene3 scene-link" ></a> <br>
						<a id="scene4-link" class="scene4 scene-link" ></a> <br>
					</div>


						<a id="scene0-shadow-link" href="#scene0"></a>
						<a id="scene1-shadow-link" href="#scene1"></a>
						<a id="scene2-shadow-link" href="#scene2"></a>
						<a id="scene3-shadow-link" href="#scene3"></a>
						<a id="scene4-shadow-link" href="#scene4"></a>

					<!-- - - - - - - - - -->
					<div id="trampoline-container">

						<video id="video-dr-keith" width="400" height="400"  loop autoplay name="media">
							<source src="http://static2.springfree.com/sites/all/themes/springfree/video/keithJump.mp4" type="video/mp4" poster="http://static2.springfree.com/sites/all/themes/springfree/images/video-dr-keith.png">
							<img src="http://static2.springfree.com/sites/all/themes/springfree/images/video-dr-keith.png">
							Video could not be loaded. Try refreshing the page.
						</video>

						<span id="image-container" class="image-container">
							<div id="sprite_image_large" class="bg-img" style="background-position: 0px, 0px;"></div>
						</span>

					</div>
					<!-- - - - - - - - - -->

					<!-- - - - - - - - - -->
					<section id="how-we-make" class="how-we-make">
						<div class="container-fluid">
							<div class="row">
								<article class="col-md-9 scene-zero-copy">
									<header class="header-large">
										<h1>How did we make the world’s safest trampoline?</h1>
									</header>
								</article>
								
								<article class="col-md-6">
									<header class="sub-header scene-zero-copy">
										<p>It began with a simple wish, a dad who wanted a safe trampoline for his daughter. That dad was Dr. Keith Alexander, mechanical engineer and university professor.</p>
									</header>
									<div id="next_button" class="body next_button">
										<a href="#scene1" class="scroll-btn">Click to continue</a>
									</div>							
								</article>

								<article class="col-md-5">

								</article>
							</div>
						</div>	
					</section>	
					<!-- - - - - - - - - -->



					<!-- - - - - - - - - -->
					

					<!-- * * * * 
						Dev notes:
						scene-copy-common: common styles for all copy
						scene-copy, 
						scene-one-copy: for JS functionality bootstrapping
					* * * * -->


					<!-- * * * * -->
					<div id="scene1-headers" class="scene-header scene-copy scene-one-copy scene-copy-common">
						<h1>We eliminated the springs</h1>
					</div>

					<div id="scene1-copy" class="scene-info scene-copy scene-one-copy scene-copy-common">
						<p>Mat Rods</p>
					</div>

					<!-- * * * * -->


					<!-- * * * * -->
					<div id="scene2-headers" class="scene-header scene-copy scene-two-copy scene-copy-common">
						<h1>Moved the frame to where it’s impossible to fall on</h1>
					</div>

					<div id="scene2-copy" class="scene-info scene-copy scene-two-copy scene-copy-common">
						<p>Hidden Frame</p>				
					</div>
					
					<!-- * * * * -->


					<!-- * * * * -->
					<div id="scene3-headers" class="scene-header scene-copy scene-three-copy scene-copy-common">
						<h1>Created a shock-absorbent SoftEdge mat</h1>
					</div>

					<div id="scene3-copy" class="scene-info scene-copy scene-three-copy scene-copy-common">
						<p>SoftEdge Mat</p>				
					</div>
					
					<!-- * * * * -->


					<!-- * * * * -->
					<div id="scene4-headers" class="scene-header scene-copy scene-four-copy scene-copy-common">
						<h1>And enclosed it all in a FlexiNet to cushion jumpers and prevent falls.</h1>
					</div>

					<div id="scene4-copy" class="scene-info scene-copy scene-four-copy scene-copy-common">
						<p>FlexiNet</p>						
					</div>
											
					<!-- * * * * -->


					<!-- - - - - - - - - -->

					<div id="circle-mask" class="circle-mask" >

						<!-- - - - - - - - - -->
						<!-- video of the mat rods -->
						<a href="http://www.youtube.com/embed/I7_-Pl_tnC8?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=opaque&enablejsapi=1&showinfo=0" class="zoomed-button-shape scene-copy scene-one-copy ilbvid-rods" data-options="width:1920, height:1080" title="Mat Rods"> </a>
						
						<!-- video of the hidden frame -->																
						<a href="http://www.youtube.com/embed/rPRMbwk7D8s?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=opaque&enablejsapi=1&showinfo=0" class="zoomed-button-shape scene-copy scene-two-copy ilbvid-frame" data-options="width:1920, height:1080" title="Hidden Frame"> </a>
						
						<!-- video of the softedge mat -->																
						<a href="http://www.youtube.com/embed/QkO6BlPStJ0?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=opaque&enablejsapi=1&showinfo=0" class="zoomed-button-shape scene-copy scene-three-copy ilbvid-softedge" data-options="width:1920, height:1080" title="SoftEdge Mat"> </a>
						
						<!-- video of the flexinet -->								
						<a href="http://www.youtube.com/embed/Pbw_J2X3yWE?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=opaque&enablejsapi=1&showinfo=0" class="zoomed-button-shape scene-copy scene-four-copy ilbvid-net" data-options="width:1920, height:1080" title="FlexiNet"> </a>

					</div>
					<!-- - - - - - - - - -->
				</div>
			</span>	
	</div>
	<!-- Animation Viewport -->




</div>


	<!-- vendor -->	
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	<script type="text/javascript" src="/sites/all/themes/springfree/js/vendors/jquery.animateSprite.min.js"></script>
	<script type="text/javascript" src="/sites/all/themes/springfree/js/vendors/jquery.waypoints.min.js"></script>
	<script type="text/javascript" src="/sites/all/themes/springfree/js/vendors/inview.min.js"></script>
	<script type="text/javascript" src="/sites/all/themes/springfree/js/vendors/sticky.js"></script>
	<script type="text/javascript" src="/sites/all/themes/springfree/js/vendors/skrollr.min.js"></script>
	<script type="text/javascript" src="/sites/all/themes/springfree/js/vendors/skrollr.menu.min.js"></script>
	<script type="text/javascript" src="/sites/all/themes/springfree/js/vendors/jquery.transform2d.js"></script>
	<script type="text/javascript" src="/sites/all/themes/springfree/js/vendors/jquery.easing.js"></script>
	-->
	<!-- <script type="text/javascript" src="/sites/all/themes/springfree/js/vendors/jquery.waitforimages.min.js"></script> -->
	
	<!-- <script type="text/javascript" src="js/vendors/jquery.center.min.js"></script> -->
	<!-- <script type="text/javascript" src="js/vendors/swipebox-master/src/js/jquery.swipebox.min.js"></script> -->
	<!--  delete this in production   <script type="text/javascript" src="js/vendors/waypoints.debug.js"></script>-->

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->				

   	<!-- <script src="/sites/all/themes/springfree/js/scripts/jquery.main.js"></script> -->
	<!-- custom script -->	
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	<script type="text/javascript" src="/sites/all/themes/springfree/js/scripts/animated.js"></script>-->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->





