				<section id="static-container" class="video-block alternate">
					

					<!-- original PSD2HTML - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --> 
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --> 
					<div class="bg-stretch">
						<span data-picture data-alt="image description">
							<span data-src="/sites/all/themes/springfree/images/img03.jpg" ></span>
							<span data-src="/sites/all/themes/springfree/images/img03-mobile.jpg" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
							<span data-src="/sites/all/themes/springfree/images/img03-mobile@2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" data-width="320" data-height="184"></span>
							<noscript><img src="/sites/all/themes/springfree/images/img03.jpg" width="1920" height="810" alt="image description" ></noscript>
						</span>
					</div>
					<div class="container">
						<div class="row">
							<article class="col-lg-12">
								<header class="header">
									<h2><span class="ico"><img src="/sites/all/themes/springfree/images/global/ico01.png" height="101" width="101" alt="image description"></span> First, we eliminated the springs.</h2>
								</header>
								<div class="body">
									<a class="lightbox iframe" href="http://www.youtube.com/embed/9bZkp7q19f0?autoplay=1">
										<span data-picture data-alt="image description">
											<span data-src="/sites/all/themes/springfree/images/video01.png" ></span>
											<span data-src="/sites/all/themes/springfree/images/video01-mobile.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
											<span data-src="/sites/all/themes/springfree/images/video01-mobile@2x.png" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" data-width="93" data-height="93"></span>
											<noscript><img src="/sites/all/themes/springfree/images/video01.png" width="412" height="412" alt="image description" ></noscript>
										</span>
									</a>
								</div>
								<footer class="footer">
									<span>Mat Rods</span>
								</footer>
							</article>
						</div>
					</div>
				</section>
				<section class="video-block">
					<div class="bg-stretch">
						<span data-picture data-alt="image description">
							<span data-src="/sites/all/themes/springfree/images/img04.jpg" ></span>
							<span data-src="/sites/all/themes/springfree/images/img04-mobile.jpg" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
							<span data-src="/sites/all/themes/springfree/images/img04-mobile@2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" data-width="320" data-height="184"></span>
							<noscript><img src="/sites/all/themes/springfree/images/img04.jpg" width="1920" height="860" alt="image description" ></noscript>
						</span>
					</div>
					<div class="container">
						<div class="row">
							<article class="col-lg-12">
								<header class="header">
									<h2><span class="ico"><img src="/sites/all/themes/springfree/images/global/ico02.png" height="101" width="101" alt="image description"></span> Then we moved the frame below the bouncing surface.</h2>
								</header>
								<div class="body">
									<a class="lightbox iframe" href="http://www.youtube.com/embed/9bZkp7q19f0?autoplay=1">
										<span data-picture data-alt="image description">
											<span data-src="/sites/all/themes/springfree/images/video02.png" ></span>
											<span data-src="/sites/all/themes/springfree/images/video02-mobile.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
											<span data-src="/sites/all/themes/springfree/images/video02-mobile@2x.png" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" data-width="93" data-height="93"></span>
											<noscript><img src="/sites/all/themes/springfree/images/video02.png" width="412" height="412" alt="image description" ></noscript>
										</span>
									</a>
								</div>
								<footer class="footer">
									<span>Hidden Frame</span>
								</footer>
							</article>
						</div>
					</div>
				</section>
				<section class="video-block">
					<div class="bg-stretch">
						<span data-picture data-alt="image description">
							<span data-src="/sites/all/themes/springfree/images/img05.jpg" ></span>
							<span data-src="/sites/all/themes/springfree/images/img05-mobile.jpg" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
							<span data-src="/sites/all/themes/springfree/images/img05-mobile@2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" data-width="320" data-height="184"></span>
							<noscript><img src="/sites/all/themes/springfree/images/img05.jpg" width="1920" height="860" alt="image description" ></noscript>
						</span>
					</div>
					<div class="container">
						<div class="row">
							<article class="col-lg-12">
								<header class="header">
									<h2><span class="ico"><img src="/sites/all/themes/springfree/images/global/ico03.png" height="101" width="101" alt="image description"></span> We created a shock-absorbent SoftEdge&trade; Mat.</h2>
								</header>
								<div class="body">
									<a class="lightbox iframe" href="http://www.youtube.com/embed/9bZkp7q19f0?autoplay=1">
										<span data-picture data-alt="image description">
											<span data-src="/sites/all/themes/springfree/images/video03.png" ></span>
											<span data-src="/sites/all/themes/springfree/images/video03-mobile.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
											<span data-src="/sites/all/themes/springfree/images/video03-mobile@2x.png" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" data-width="93" data-height="93"></span>
											<noscript><img src="/sites/all/themes/springfree/images/video03.png" width="412" height="412" alt="image description" ></noscript>
										</span>
									</a>
								</div>
								<footer class="footer">
									<span>SoftEdge&trade; Mat</span>
								</footer>
							</article>
						</div>
					</div>
				</section>
				<section class="video-block alternate">
					<div class="bg-stretch">
						<span data-picture data-alt="image description">
							<span data-src="/sites/all/themes/springfree/images/img06.jpg" ></span>
							<span data-src="/sites/all/themes/springfree/images/img06-mobile.jpg" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
							<span data-src="/sites/all/themes/springfree/images/img06-mobile@2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" data-width="320" data-height="184"></span>
							<noscript><img src="/sites/all/themes/springfree/images/img06.jpg" width="1920" height="926" alt="image description" ></noscript>
						</span>
					</div>
					<div class="container">
						<div class="row">
							<article class="col-lg-12">
								<header class="header">
									<h2><span class="ico"><img src="/sites/all/themes/springfree/images/global/ico04.png" height="101" width="101" alt="image description"></span> And we enclosed it all in a FlexiNet to cushion jumpers and prevent falls.</h2>
								</header>
								<div class="body">
									<a class="lightbox iframe" href="http://www.youtube.com/embed/9bZkp7q19f0?autoplay=1">
										<span data-picture data-alt="image description">
											<span data-src="/sites/all/themes/springfree/images/video04.png" ></span>
											<span data-src="/sites/all/themes/springfree/images/video04-mobile.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
											<span data-src="/sites/all/themes/springfree/images/video04-mobile@2x.png" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" data-width="93" data-height="93"></span>
											<noscript><img src="/sites/all/themes/springfree/images/video04.png" width="412" height="412" alt="image description" ></noscript>
										</span>
									</a>
								</div>
								<footer class="footer">
									<span>FlexiNet</span>
								</footer>
							</article>
						</div>
					</div>
				</section>

					<!-- original PSD2HTML - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --> 
					<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --> 




























				<script type="text/javascript" src="../../js/scripts/static.js"></script>

